In [3]:
# Importing Dependencies
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
from datetime import datetime, timedelta
from pprint import pprint
import time
import os
import numpy as np
from dotenv import load_dotenv
load_dotenv()

ModuleNotFoundError: No module named 'dotenv'

In [4]:
user = os.getenv('USER')
password = os.getenv('password')

In [5]:
#Create the browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=True)

try:

    #Visit the website in 'url'
    url = 'https://www.appannie.com/dashboard/home'
    browser.visit(url)

    #Enter login info
    time.sleep(1)
    browser.find_by_name(name = 'username').type(user)
    browser.find_by_css('input')[1].type(password)
    browser.find_by_tag('button').click()

    #########
    def checker(func,go=None):
        #func is a 'is_present' boolean
        for i in range(3):
            if func:
                go
                break
            else:
                browser.reload()
                time.sleep(2)
    ##########

    #Check for presence of 'Top Chart' tab, click tab
    checker((browser.is_element_present_by_text('Top Charts',wait_time=2)),browser.find_by_text('Top Charts').click())

    #Create date range
    today = datetime.now()
    dates = [(today - timedelta(days=i)).strftime("%Y-%m-%d") for i in range(90)]



    #https://www.appannie.com/apps/ios/top-chart?country=US&category=36&device=iphone&date=2020-12-01&feed=All&page_number=0&page_size=500&rank_sorting_type=rank
    #list of dictionaries, each one a different day
    list_of_builds = []

    for moment in dates:
        #get top chart info
        url = f'https://www.appannie.com/apps/ios/top-chart?country=US&category=36&device=iphone&date={moment}&feed=All&page_number=0&page_size=500&rank_sorting_type=rank'
        browser.visit(url)
        time.sleep(5)
        html = browser.html
        soup = BeautifulSoup(html,'html.parser')

        checker(browser.is_element_present_by_css('table'))

        all_trs = soup.table.tbody.find_all('tr')
        build_df = {'Rank':[],'Date': moment,'Free':[],'Paid':[],'Grossing':[]}
        for _ in all_trs:
            current_rank_apps = [elem.text for elem in _.select('a span')]
            
            toss, app_id1, app_id2, app_id3 = [i.get('data-appid') for i in _.find_all('td')]
            
            rank_num = _.span.text
            build_df['Rank'].append((rank_num))
            build_df['Free'].append([current_rank_apps[0],current_rank_apps[1],app_id1])
            build_df['Paid'].append([current_rank_apps[2],current_rank_apps[3],app_id2])
            build_df['Grossing'].append([current_rank_apps[4],current_rank_apps[5],app_id3])

        list_of_builds.append(build_df)

    #concatenate all dataframes
    builds_to_concat = [pd.DataFrame(_).set_index('Date') for _ in list_of_builds]
    sep3_dec1_t500 = pd.concat(builds_to_concat)
except Exception as e:
    browser.quit()
    print(e)
finally:
    browser.quit()

In [14]:
sep3_dec1_t500.to_csv('top_500_90day.csv')

In [6]:
sep3_dec1_t500

,Rank,Free,Paid,Grossing
Date,,,,
2020-12-02,1,"[ZOOM Cloud Meetings, Zoom Video Communication...","[Minecraft, Mojang, 479516143]","[YouTube: Watch, Listen, Stream, Google, 54400..."
2020-12-02,2,"[Roof Rails, Voodoo, 1524760095]","[Bloons TD 6, Ninja Kiwi, 1118115766]","[Pok√©mon GO, Niantic, 1094591345]"
2020-12-02,3,"[YouTube: Watch, Listen, Stream, Google, 54400...","[Plague Inc., Ndemic Creations, 525818839]","[Tinder - Dating & Make Friends, Match Group, ..."
2020-12-02,4,"[TikTok, TikTok Pte Ltd, 835599320]","[Monopoly, Marmalade, 1477966166]","[Disney+, Disney, 1446075923]"
2020-12-02,5,"[Spotify: Music and podcasts, Spotify, 324684580]","[Procreate Pocket, Savage Interactive, 916366645]","[Clash of Clans, Supercell, 529479190]"
...,...,...,...,...
2020-09-04,496,"[Smule: Social Karaoke Singing, Smule, 509993510]","[Bridge Constructor Portal, HeadUpGames, 13113...","[BothLive, Zhiji Network, 1445657647]"
2020-09-04,497,"[SmartThings, Samsung Electronics, 1222822904]","[Spy hidden camera Detector, Jakobi Teknik, 92...","[Satellite VPN: Secure Browsing, Syazan OU, 15..."
2020-09-04,498,"[Fall Guys : Knockout Ultimate, Jpseph Rader, ...","[The Impossible Game, FlukeDude, 367242040]","[Bike Race: Free Style Games, Wildlife Studios..."
2020-09-04,499,"[Afterpay - Buy now. Pay later., Afterpay, 140...","[Site Audit Pro, Veam Studios, 430234732]","[Microsoft OneDrive, Microsoft, 477537958]"
2020-09-04,500,"[Triller: Social Video Platform, Triller, 9949...","[HamStudy.org, Signal Stuff, 1371288324]","[MapleStory M: Fantasy MMORPG, NEXON, 1290086677]"

In [7]:
df_raw_new = sep3_dec1_t500.reset_index()
df_raw_new

,Date,Rank,Free,Paid,Grossing
0,2020-12-02,1,"[ZOOM Cloud Meetings, Zoom Video Communication...","[Minecraft, Mojang, 479516143]","[YouTube: Watch, Listen, Stream, Google, 54400..."
1,2020-12-02,2,"[Roof Rails, Voodoo, 1524760095]","[Bloons TD 6, Ninja Kiwi, 1118115766]","[Pok√©mon GO, Niantic, 1094591345]"
2,2020-12-02,3,"[YouTube: Watch, Listen, Stream, Google, 54400...","[Plague Inc., Ndemic Creations, 525818839]","[Tinder - Dating & Make Friends, Match Group, ..."
3,2020-12-02,4,"[TikTok, TikTok Pte Ltd, 835599320]","[Monopoly, Marmalade, 1477966166]","[Disney+, Disney, 1446075923]"
4,2020-12-02,5,"[Spotify: Music and podcasts, Spotify, 324684580]","[Procreate Pocket, Savage Interactive, 916366645]","[Clash of Clans, Supercell, 529479190]"
...,...,...,...,...,...
44995,2020-09-04,496,"[Smule: Social Karaoke Singing, Smule, 509993510]","[Bridge Constructor Portal, HeadUpGames, 13113...","[BothLive, Zhiji Network, 1445657647]"
44996,2020-09-04,497,"[SmartThings, Samsung Electronics, 1222822904]","[Spy hidden camera Detector, Jakobi Teknik, 92...","[Satellite VPN: Secure Browsing, Syazan OU, 15..."
44997,2020-09-04,498,"[Fall Guys : Knockout Ultimate, Jpseph Rader, ...","[The Impossible Game, FlukeDude, 367242040]","[Bike Race: Free Style Games, Wildlife Studios..."
44998,2020-09-04,499,"[Afterpay - Buy now. Pay later., Afterpay, 140...","[Site Audit Pro, Veam Studios, 430234732]","[Microsoft OneDrive, Microsoft, 477537958]"
44999,2020-09-04,500,"[Triller: Social Video Platform, Triller, 9949...","[HamStudy.org, Signal Stuff, 1371288324]","[MapleStory M: Fantasy MMORPG, NEXON, 1290086677]"

In [22]:
def check_publisher(element, element_list):
    if element not in element_list:
        element_list.append(element)
        
def check_app(element, element_list, lookup_table, pub_id_list, app_id_list):
    if element[0] not in element_list:
        element_list.append(element[0])
        app_id_list.append(element[2])
        pub_id_list.append(int(lookup_table[lookup_table['Publisher_Name'] == element[1]]['Publisher_ID']))

In [9]:
publisher_list = []

for index, row in df_raw_new.iterrows():
    check_publisher(row['Free'][1], publisher_list)
    check_publisher(row['Grossing'][1], publisher_list)
    check_publisher(row['Paid'][1], publisher_list)

In [10]:
publisher_id = np.arange(1, len(publisher_list)+1)

In [11]:
df_publisher = pd.DataFrame(zip(publisher_id, publisher_list), columns=['Publisher_ID','Publisher_Name'])
df_publisher

      Publisher_ID                Publisher_Name
0                1     Zoom Video Communications
1                2                        Google
2                3                        Mojang
3                4                        Voodoo
4                5                       Niantic
...            ...                           ...
2489          2490                   Queenie Law
2490          2491              Justyna Zablocka
2491          2492                       bopdrop
2492          2493                 Amrita Studio
2493          2494  Edupoint Educational Systems

[2494 rows x 2 columns]

In [23]:
app_list = []
pub_id = []
app_id = []

for index, row in df_raw_new.iterrows():
    # If the app is not in the list yet, insert it into the list and insert the category on the cat_list: 1(Free), 2(Grossing), 3(Paid)
    check_app(row['Free'], app_list, df_publisher, pub_id, app_id)
    check_app(row['Grossing'], app_list, df_publisher, pub_id, app_id)
    check_app(row['Paid'], app_list, df_publisher, pub_id, app_id)

In [24]:
df_app = pd.DataFrame(zip(app_id, app_list, pub_id), columns=['App_ID','App_Name','Publisher_ID'])
df_app

          App_ID                        App_Name  Publisher_ID
0      546505307             ZOOM Cloud Meetings             1
1      544007664  YouTube: Watch, Listen, Stream             2
2      479516143                       Minecraft             3
3     1524760095                      Roof Rails             4
4     1094591345                      Pok√©mon GO             5
...          ...                             ...           ...
3689  1515694739  GetMagic - Flash Likes Effects          2490
3690  1509682673             NG Flight Simulator          2491
3691  1493303435       bopdrop - music discovery          2492
3692  1494881259                Campus: Date Sim          2493
3693   412050327                      StudentVUE          2494

[3694 rows x 3 columns]

In [18]:
cat_dict = {'Category_ID':[1,2,3],'Category':['Free','Grossing','Paid']}
df_cat = pd.DataFrame(data=cat_dict)
df_cat

   Category_ID  Category
0            1      Free
1            2  Grossing
2            3      Paid

In [20]:
df_free = pd.DataFrame(df_raw_new['Free'].to_list(), columns = ['App_Name', 'Publisher', 'App_ID'])
df_free

                             App_Name                  Publisher      App_ID
0                 ZOOM Cloud Meetings  Zoom Video Communications   546505307
1                          Roof Rails                     Voodoo  1524760095
2      YouTube: Watch, Listen, Stream                     Google   544007664
3                              TikTok             TikTok Pte Ltd   835599320
4         Spotify: Music and podcasts                    Spotify   324684580
...                               ...                        ...         ...
44995   Smule: Social Karaoke Singing                      Smule   509993510
44996                     SmartThings        Samsung Electronics  1222822904
44997   Fall Guys : Knockout Ultimate               Jpseph Rader  1528248331
44998  Afterpay - Buy now. Pay later.                   Afterpay  1401019110
44999  Triller: Social Video Platform                    Triller   994905763

[45000 rows x 3 columns]

In [29]:
df_free_cleaned = df_raw_new[['Date','Rank']].merge(df_free[['App_ID']], left_index = True, right_index = True)
df_free_cleaned['Category_ID'] = 1
df_free_cleaned

             Date Rank      App_ID  Category_ID
0      2020-12-02    1   546505307            1
1      2020-12-02    2  1524760095            1
2      2020-12-02    3   544007664            1
3      2020-12-02    4   835599320            1
4      2020-12-02    5   324684580            1
...           ...  ...         ...          ...
44995  2020-09-04  496   509993510            1
44996  2020-09-04  497  1222822904            1
44997  2020-09-04  498  1528248331            1
44998  2020-09-04  499  1401019110            1
44999  2020-09-04  500   994905763            1

[45000 rows x 4 columns]

In [28]:
df_paid = pd.DataFrame(df_raw_new['Paid'].to_list(), columns = ['App_Name', 'Publisher', 'App_ID'])
df_paid

                         App_Name           Publisher      App_ID
0                       Minecraft              Mojang   479516143
1                     Bloons TD 6          Ninja Kiwi  1118115766
2                     Plague Inc.    Ndemic Creations   525818839
3                        Monopoly           Marmalade  1477966166
4                Procreate Pocket  Savage Interactive   916366645
...                           ...                 ...         ...
44995   Bridge Constructor Portal         HeadUpGames  1311353234
44996  Spy hidden camera Detector       Jakobi Teknik   925967783
44997         The Impossible Game           FlukeDude   367242040
44998              Site Audit Pro        Veam Studios   430234732
44999                HamStudy.org        Signal Stuff  1371288324

[45000 rows x 3 columns]

In [27]:
df_paid_cleaned = df_raw_new[['Date','Rank']].merge(df_paid[['App_ID']], left_index = True, right_index = True)
df_paid_cleaned['Category_ID'] = 3
df_paid_cleaned

             Date Rank      App_ID  Category_ID
0      2020-12-02    1   479516143            3
1      2020-12-02    2  1118115766            3
2      2020-12-02    3   525818839            3
3      2020-12-02    4  1477966166            3
4      2020-12-02    5   916366645            3
...           ...  ...         ...          ...
44995  2020-09-04  496  1311353234            3
44996  2020-09-04  497   925967783            3
44997  2020-09-04  498   367242040            3
44998  2020-09-04  499   430234732            3
44999  2020-09-04  500  1371288324            3

[45000 rows x 4 columns]

In [30]:
df_grossing = pd.DataFrame(df_raw_new['Grossing'].to_list(), columns = ['App_Name', 'Publisher', 'App_ID'])
df_grossing

                             App_Name         Publisher      App_ID
0      YouTube: Watch, Listen, Stream            Google   544007664
1                          Pok√©mon GO           Niantic  1094591345
2      Tinder - Dating & Make Friends       Match Group   547702041
3                             Disney+            Disney  1446075923
4                      Clash of Clans         Supercell   529479190
...                               ...               ...         ...
44995                        BothLive     Zhiji Network  1445657647
44996  Satellite VPN: Secure Browsing         Syazan OU  1515543740
44997     Bike Race: Free Style Games  Wildlife Studios   510461758
44998              Microsoft OneDrive         Microsoft   477537958
44999    MapleStory M: Fantasy MMORPG             NEXON  1290086677

[45000 rows x 3 columns]

In [31]:
df_grossing_cleaned = df_raw_new[['Date','Rank']].merge(df_grossing[['App_ID']], left_index = True, right_index = True)
df_grossing_cleaned['Category_ID'] = 2
df_grossing_cleaned

             Date Rank      App_ID  Category_ID
0      2020-12-02    1   544007664            2
1      2020-12-02    2  1094591345            2
2      2020-12-02    3   547702041            2
3      2020-12-02    4  1446075923            2
4      2020-12-02    5   529479190            2
...           ...  ...         ...          ...
44995  2020-09-04  496  1445657647            2
44996  2020-09-04  497  1515543740            2
44997  2020-09-04  498   510461758            2
44998  2020-09-04  499   477537958            2
44999  2020-09-04  500  1290086677            2

[45000 rows x 4 columns]

In [34]:
df_full = df_free_cleaned.append(df_grossing_cleaned, ignore_index=True)
df_full = df_full.append(df_paid_cleaned, ignore_index=True)
df_full['Platform_ID'] = 1
df_full

              Date Rank      App_ID  Category_ID  Platform_ID
0       2020-12-02    1   546505307            1            1
1       2020-12-02    2  1524760095            1            1
2       2020-12-02    3   544007664            1            1
3       2020-12-02    4   835599320            1            1
4       2020-12-02    5   324684580            1            1
...            ...  ...         ...          ...          ...
134995  2020-09-04  496  1311353234            3            1
134996  2020-09-04  497   925967783            3            1
134997  2020-09-04  498   367242040            3            1
134998  2020-09-04  499   430234732            3            1
134999  2020-09-04  500  1371288324            3            1

[135000 rows x 5 columns]

In [35]:
platform_dict = {'Platform_ID':[1,2], 'Platform':['iOS','Android']}
df_platform = pd.DataFrame(data = platform_dict)
df_platform

   Platform_ID Platform
0            1      iOS
1            2  Android

In [36]:
# Saving all df to csv in case modification is required to save time rather than extracting.
df_publisher.to_csv('publisher.csv', index = False)
df_app.to_csv('app.csv', index = False)
df_cat.to_csv('category.csv', index = False)
df_full.to_csv('full_rank.csv', index = False)
df_platform.to_csv('platform.csv', index = False)