In [1]:
# Importing Dependencies

from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
from datetime import datetime, timedelta
from pprint import pprint
import time
import os
import numpy as np
from dotenv import load_dotenv
load_dotenv()
from sqlalchemy import create_engine
import psycopg2
import traceback
import sqlalchemy_utils

# Extract

In [ ]:
#Set your password and username as an Environment variable. Then test it runs properly.
os.getenv('password')

In [ ]:
#Define login credetials using the Environment variable.

user = os.getenv('USER')

password = os.getenv('password')

In [4]:
###### iOS RANKINGS EXTRACTOR ######

#Create the browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=True)

try:

    #Visit the website in 'url'
    url = 'https://www.appannie.com/dashboard/home'
    browser.visit(url)

    #Enter login credentials
    time.sleep(1)
    browser.find_by_name(name = 'username').type(user)
    browser.find_by_css('input')[1].type(password)
    browser.find_by_tag('button').click()

    #Loading safety function
    def checker(func,go=None):
        #func is a 'is_present' boolean
        for i in range(3):
            if func:
                go
                break
            else:
                browser.reload()
                time.sleep(2)
    #########
    
    #SET THE NUMBER OF DAYS OF DATA TO EXTRACT -> USED FOR BOTH EXTRACTORS
    retro_days = 7

    #Check for presence of 'Top Chart' tab, click tab
    checker((browser.is_element_present_by_text('Top Charts',wait_time=2)),browser.find_by_text('Top Charts').click())

    #Create date range
    today = datetime.now()
    dates = [(today - timedelta(days=i)).strftime("%Y-%m-%d") for i in range(retro_days)]


    #Grab the the top 300 rows of iOS app rankings from 
    #https://www.appannie.com/apps/ios/top-chart?country=US&category=36&device=iphone&date=2020-12-01&feed=All&page_number=0&page_size=500&rank_sorting_type=rank
    #Create list of dictionaries, each one a different day
    list_of_builds = []

    for moment in dates:
        #get top chart info
        url = f'https://www.appannie.com/apps/ios/top-chart?country=US&category=36&device=iphone&date={moment}&feed=All&page_number=0&page_size=300&rank_sorting_type=rank'
        browser.visit(url)
        time.sleep(5)
        html = browser.html
        soup = BeautifulSoup(html,'html.parser')

        checker(browser.is_element_present_by_css('table'))

        all_trs = soup.table.tbody.find_all('tr')
        build_df = {'rank':[],'date': moment,'free':[],'paid':[],'grossing':[]}
        for _ in all_trs:
            current_rank_apps = [elem.text for elem in _.select('a span')]
            
            toss, app_id1, app_id2, app_id3 = [i.get('data-appid') for i in _.find_all('td')]
            
            rank_num = _.span.text
            build_df['rank'].append((rank_num))
            build_df['free'].append([current_rank_apps[0],current_rank_apps[1],app_id1])
            build_df['paid'].append([current_rank_apps[2],current_rank_apps[3],app_id2])
            build_df['grossing'].append([current_rank_apps[4],current_rank_apps[5],app_id3])

        list_of_builds.append(build_df)

    #concatenate all dataframes
    builds_to_concat = [pd.DataFrame(_).set_index('date') for _ in list_of_builds]
    current_pull_ios = pd.concat(builds_to_concat)
except Exception as e:
    browser.quit()
    print(e)
    traceback.print_exc()
finally:
    browser.quit()

In [5]:
###### ANDROID RANKINGS EXTRACTOR ######

#Create the browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=True)

try:

    #Visit the website in 'url'
    url = 'https://www.appannie.com/dashboard/home'
    browser.visit(url)

    #Enter login credentials
    time.sleep(1)
    browser.find_by_name(name = 'username').type(os.getenv('user'))
    browser.find_by_css('input')[1].type(os.getenv('password'))
    browser.find_by_tag('button').click()

    #Check for presence of 'Top Chart' tab, click tab
    checker((browser.is_element_present_by_text('Top Charts',wait_time=7)),browser.find_by_text('Top Charts').click())

    #Create date range
    today = datetime.now()
    dates = [(today - timedelta(days=i)).strftime("%Y-%m-%d") for i in range(retro_days)]



    #https://www.appannie.com/apps/ios/top-chart?country=US&category=36&device=iphone&date=2020-12-01&feed=All&page_number=0&page_size=500&rank_sorting_type=rank
    #list of dictionaries, each one a different day
    list_of_builds = []

    for moment in dates:
        #get top chart info
        url = f'https://www.appannie.com/apps/google-play/top-chart/?country=US&category=1&device=&date={moment}&feed=All&rank_sorting_type=rank&page_number=0&page_size=300'
        browser.visit(url)
        time.sleep(5)
        html = browser.html
        soup = BeautifulSoup(html,'html.parser')

        checker(browser.is_element_present_by_css('table'))

        all_trs = soup.table.tbody.find_all('tr')
        build_df = {'rank':[],'date': moment,'free':[],'paid':[],'grossing':[]}
        for _ in all_trs:
            current_rank_apps = [elem.text for elem in _.select('a span')]
            toss, app_id1, app_id2, app_id3, app_id4, app_id5 = [i.get('data-appid') for i in _.find_all('td')]
            
            rank_num = _.span.text
            build_df['rank'].append((rank_num))
            build_df['free'].append([current_rank_apps[0],current_rank_apps[1],app_id1])
            build_df['paid'].append([current_rank_apps[2],current_rank_apps[3],app_id2])
            build_df['grossing'].append([current_rank_apps[4],current_rank_apps[5],app_id3])

        list_of_builds.append(build_df)

    #concatenate all dataframes
    builds_to_concat = [pd.DataFrame(_).set_index('date') for _ in list_of_builds]
    current_pull_google_play = pd.concat(builds_to_concat)
except Exception as e:
    browser.quit()
    print(e)
    traceback.print_exc()
finally:
    browser.quit()

# Transform

In [6]:
#View raw data as dataframe 
current_pull_ios

,rank,free,paid,grossing
date,,,,
2020-12-07,1,"[Hype Simulator, Piyada, 1502153059]","[Minecraft, Mojang, 479516143]","[YouTube: Watch, Listen, Stream, Google, 54400..."
2020-12-07,2,"[ZOOM Cloud Meetings, Zoom Video Communication...","[Incredibox, So Far So Good, 1093131935]","[Tinder - Dating & Make Friends, Match Group, ..."
2020-12-07,3,"[TikTok, TikTok Pte Ltd, 835599320]","[Plague Inc., Ndemic Creations, 525818839]","[Roblox, Roblox, 431946152]"
2020-12-07,4,"[Among Us!, InnerSloth, 1351168404]","[Heads Up! Best Charades game, Warner Bros, 62...","[Disney+, Disney, 1446075923]"
2020-12-07,5,"[YouTube: Watch, Listen, Stream, Google, 54400...","[Monopoly, Marmalade, 1477966166]","[Clash of Clans, Supercell, 529479190]"
...,...,...,...,...
2020-12-01,296,"[BURGER KING® App, BURGER KING, 638323895]","[The White Door, LoyaltyGame, 1472184189]","[Grammarly - Writing Assistant, Grammarly, 115..."
2020-12-01,297,"[VSCO: Photo & Video Editor, Visual Supply, 58...","[12 Steps Companion AA Big Book, Dean Huff, 29...","[Solitaire Cruise Tripeaks Card, Samfinaco, 15..."
2020-12-01,298,"[Funimation, Funimation, 1075603018]","[Fruit Ninja Classic, Halfbrick, 362949845]","[Spotify: Music and podcasts, Spotify, 324684580]"
2020-12-01,299,"[My Spectrum, Charter Communications, 942608209]","[Quantumult X, Cross Utility Ltd, 1443988620]","[Wynn Slots - Las Vegas Casino, Wynn Social, 1..."
2020-12-01,300,"[AMAZE!!!, Crazy Labs, 1452526406]","[Camera for OBS Studio, Will Townsend, 1352834...","[Diner DASH Adventures, Glu, 1380831764]"

In [7]:
#Reseting the index
df_ios_new = current_pull_ios.reset_index()
df_android_new = current_pull_google_play.reset_index()
df_android_new

,date,rank,free,paid,grossing
0,2020-12-07,1,"[Among Us, InnerSloth, 20600010026980]","[Minecraft, Mojang, 20600000000768]","[Coin Master, Moon Active, 20600005233076]"
1,2020-12-07,2,"[Object Hunt, Kwalee, 20600014275149]",[Monopoly - Board game classic about real-esta...,"[Pokémon GO, Niantic, 20600005891187]"
2,2020-12-07,3,[Google Pay: A safe & helpful way to manage mo...,"[Bloons TD 6, Ninja Kiwi, 20600009916650]","[Genshin Impact, miHoYo, 20600013866017]"
3,2020-12-07,4,"[ZOOM Cloud Meetings, Zoom Video Communication...","[Incredibox, So Far So Good, 20600008794572]","[Google One, Google, 20600009883514]"
4,2020-12-07,5,"[Disney+, Disney, 20600012384481]","[THE GAME OF LIFE 2 - More choices, more freed...","[Disney+, Disney, 20600012384481]"
...,...,...,...,...,...
2095,2020-12-01,296,[Tile Connect - Free Tile Puzzle & Match Brain...,"[AlfaOBD, AlfaOBD Soft, 20600000379168]","[One-Punch Man: Road to Hero 2.0, Oasis Games,..."
2096,2020-12-01,297,"[Perfect Cream, Playgendary, 20600013155549]","[Warhammer 40,000: Regicide, Hammerfall Publis...","[Rise of the Kings, Onemt, 20600005768252]"
2097,2020-12-01,298,"[Sonic Dash - Endless Running & Racing Game, S...","[My City : Newborn baby, My Town, 20600011555627]","[Likee - Let You Shine, BIGO, 20600007866046]"
2098,2020-12-01,299,[Paint By Number - Coloring Book & Color by Nu...,[Sleep as Android Unlock 💤 Sleep cycle smart a...,"[Charm King, PlayQ, 20600002192822]"
2099,2020-12-01,300,"[Talking Tom Hero Dash - Run Game, Outfit7, 20...","[Suzy Cube, Noodlecake Studios, 20600009199284]","[Call me a Legend - Game of Battle & Love, Emp..."

In [8]:
#Check to see if what you pulled is in your existing tables, if not append to your data 

def check_publisher(element, element_list):
    if element not in element_list:
        element_list.append(element)
        
def check_app(element, cat, element_list, cat_list, lookup_table, pub_id_list, app_id_list):
    if element[2] not in element_list:
        element_list.append(element[0])
        cat_list.append(cat)
        app_id_list.append(element[2])
        pub_id_list.append(int(lookup_table[lookup_table['publisher_name'] == element[1]]['publisher_id']))

In [9]:
#Extracting the publishers data from the raw data dataframe
publisher_list = []

for index, row in df_ios_new.iterrows():
    check_publisher(row['free'][1], publisher_list)
    check_publisher(row['grossing'][1], publisher_list)
    check_publisher(row['paid'][1], publisher_list)
   
for index, row in df_android_new.iterrows():
    check_publisher(row['free'][1], publisher_list)
    check_publisher(row['grossing'][1], publisher_list)
    check_publisher(row['paid'][1], publisher_list)

In [10]:
#Create an id for each publisher name
publisher_id = np.arange(1, len(publisher_list)+1)

In [12]:
#Create the dataframe for the publisher
df_publisher = pd.DataFrame(zip(publisher_id, publisher_list), columns=['publisher_id','publisher_name'])
df_publisher

      publisher_id             publisher_name
0                1                     Piyada
1                2                     Google
2                3                     Mojang
3                4  Zoom Video Communications
4                5                Match Group
...            ...                        ...
1082          1083                Green Panda
1083          1084            Games Operators
1084          1085                     Movile
1085          1086            Small Beautiful
1086          1087      Hammerfall Publishing

[1087 rows x 2 columns]

In [13]:
#Extracting the application data from the raw data dataframe
app_list = []
cat_list = []
pub_id = []
app_id = []

for index, row in df_ios_new.iterrows():
    # If the app is not in the list yet, insert it into the list and insert the category on the cat_list: 1(Free), 2(Grossing), 3(Paid)
    check_app(row['free'], 1, app_list, cat_list, df_publisher, pub_id, app_id)
    check_app(row['grossing'], 2, app_list, cat_list, df_publisher, pub_id, app_id)
    check_app(row['paid'], 3, app_list, cat_list, df_publisher, pub_id, app_id)
    
for index, row in df_android_new.iterrows():
    # If the app is not in the list yet, insert it into the list and insert the category on the cat_list: 1(Free), 2(Grossing), 3(Paid)
    check_app(row['free'], 1, app_list, cat_list, df_publisher, pub_id, app_id)
    check_app(row['grossing'], 2, app_list, cat_list, df_publisher, pub_id, app_id)
    check_app(row['paid'], 3, app_list, cat_list, df_publisher, pub_id, app_id)

In [14]:
#Create a dataframe of the app names to include the app_id, category_id and publisher_id
df_app = pd.DataFrame(zip(app_id, app_list, cat_list, pub_id), columns=['app_id','app_name','category_id','publisher_id'])
df_app = df_app.drop_duplicates(subset=['app_id'], keep = 'first')
df_app

,app_id,app_name,category_id,publisher_id
0,1502153059,Hype Simulator,1,1
1,544007664,"YouTube: Watch, Listen, Stream",2,2
2,479516143,Minecraft,3,3
3,546505307,ZOOM Cloud Meetings,1,4
4,547702041,Tinder - Dating & Make Friends,2,5
...,...,...,...,...
12590,20600005921123,"Warhammer 40,000: Regicide",3,1087
12591,20600001747570,Sonic Dash - Endless Running & Racing Game,1,204
12593,20600011555627,My City : Newborn baby,3,613
12597,20600011642223,Talking Tom Hero Dash - Run Game,1,820
12599,20600009199284,Suzy Cube,3,793

In [15]:
#Create a dataframe of the free IOS apps to include the app_id, category_id, rank, and date of rank
df_free_ios = pd.DataFrame(df_ios_new['free'].to_list(), columns = ['app_name', 'publisher', 'app_id'])
df_free_cleaned_ios = df_ios_new[['date','rank']].merge(df_free_ios[['app_id']], left_index = True, right_index = True)
df_free_cleaned_ios['category_id'] = 1
df_free_cleaned_ios

            date rank      app_id  category_id
0     2020-12-07    1  1502153059            1
1     2020-12-07    2   546505307            1
2     2020-12-07    3   835599320            1
3     2020-12-07    4  1351168404            1
4     2020-12-07    5   544007664            1
...          ...  ...         ...          ...
2095  2020-12-01  296   638323895            1
2096  2020-12-01  297   588013838            1
2097  2020-12-01  298  1075603018            1
2098  2020-12-01  299   942608209            1
2099  2020-12-01  300  1452526406            1

[2100 rows x 4 columns]

In [16]:
#Create a dataframe of the free ANDRIOD apps to include the app_id, category_id, rank, and date of rank
df_free_android = pd.DataFrame(df_android_new['free'].to_list(), columns = ['app_name', 'publisher', 'app_id'])
df_free_cleaned_android = df_android_new[['date','rank']].merge(df_free_android[['app_id']], left_index = True, right_index = True)
df_free_cleaned_android['category_id'] = 1
df_free_cleaned_android

            date rank          app_id  category_id
0     2020-12-07    1  20600010026980            1
1     2020-12-07    2  20600014275149            1
2     2020-12-07    3  20600008220049            1
3     2020-12-07    4  20600000722620            1
4     2020-12-07    5  20600012384481            1
...          ...  ...             ...          ...
2095  2020-12-01  296  20600013894808            1
2096  2020-12-01  297  20600013155549            1
2097  2020-12-01  298  20600001747570            1
2098  2020-12-01  299  20600010362653            1
2099  2020-12-01  300  20600011642223            1

[2100 rows x 4 columns]

In [17]:
#Create a dataframe of the paid IOS apps to include the app_id, category_id, rank, and date of rank
df_paid_ios = pd.DataFrame(df_ios_new['paid'].to_list(), columns = ['app_name', 'publisher', 'app_id'])
df_paid_cleaned_ios = df_ios_new[['date','rank']].merge(df_paid_ios[['app_id']], left_index = True, right_index = True)
df_paid_cleaned_ios['category_id'] = 3
df_paid_cleaned_ios

            date rank      app_id  category_id
0     2020-12-07    1   479516143            3
1     2020-12-07    2  1093131935            3
2     2020-12-07    3   525818839            3
3     2020-12-07    4   623592465            3
4     2020-12-07    5  1477966166            3
...          ...  ...         ...          ...
2095  2020-12-01  296  1472184189            3
2096  2020-12-01  297   295775656            3
2097  2020-12-01  298   362949845            3
2098  2020-12-01  299  1443988620            3
2099  2020-12-01  300  1352834008            3

[2100 rows x 4 columns]

In [18]:
#Create a dataframe of the paid ANDROID apps to include the app_id, category_id, rank, and date of rank
df_paid_android = pd.DataFrame(df_android_new['paid'].to_list(), columns = ['app_name', 'publisher', 'app_id'])
df_paid_cleaned_android = df_android_new[['date','rank']].merge(df_paid_android[['app_id']], left_index = True, right_index = True)
df_paid_cleaned_android['category_id'] = 3
df_paid_cleaned_android

            date rank          app_id  category_id
0     2020-12-07    1  20600000000768            3
1     2020-12-07    2  20600012452870            3
2     2020-12-07    3  20600009916650            3
3     2020-12-07    4  20600008794572            3
4     2020-12-07    5  20600013538453            3
...          ...  ...             ...          ...
2095  2020-12-01  296  20600000379168            3
2096  2020-12-01  297  20600005921123            3
2097  2020-12-01  298  20600011555627            3
2098  2020-12-01  299  20600000012915            3
2099  2020-12-01  300  20600009199284            3

[2100 rows x 4 columns]

In [19]:
#Create a dataframe of the grossing IOS apps to include the app_id, category_id, rank, and date of rank
df_grossing_ios = pd.DataFrame(df_ios_new['grossing'].to_list(), columns = ['app_name', 'publisher', 'app_id'])
df_grossing_cleaned_ios = df_ios_new[['date','rank']].merge(df_grossing_ios[['app_id']], left_index = True, right_index = True)
df_grossing_cleaned_ios['category_id'] = 2
df_grossing_cleaned_ios

            date rank      app_id  category_id
0     2020-12-07    1   544007664            2
1     2020-12-07    2   547702041            2
2     2020-12-07    3   431946152            2
3     2020-12-07    4  1446075923            2
4     2020-12-07    5   529479190            2
...          ...  ...         ...          ...
2095  2020-12-01  296  1158877342            2
2096  2020-12-01  297  1500251668            2
2097  2020-12-01  298   324684580            2
2098  2020-12-01  299  1323336775            2
2099  2020-12-01  300  1380831764            2

[2100 rows x 4 columns]

In [20]:
#Create a dataframe of the grossing ANDROID apps to include the app_id, category_id, rank, and date of rank
df_grossing_android = pd.DataFrame(df_android_new['grossing'].to_list(), columns = ['app_name', 'publisher', 'app_id'])
df_grossing_cleaned_android = df_android_new[['date','rank']].merge(df_grossing_android[['app_id']], left_index = True, right_index = True)
df_grossing_cleaned_android['category_id'] = 2
df_grossing_cleaned_android

            date rank          app_id  category_id
0     2020-12-07    1  20600005233076            2
1     2020-12-07    2  20600005891187            2
2     2020-12-07    3  20600013866017            2
3     2020-12-07    4  20600009883514            2
4     2020-12-07    5  20600012384481            2
...          ...  ...             ...          ...
2095  2020-12-01  296  20600013307125            2
2096  2020-12-01  297  20600005768252            2
2097  2020-12-01  298  20600007866046            2
2098  2020-12-01  299  20600002192822            2
2099  2020-12-01  300  20600011384975            2

[2100 rows x 4 columns]

In [21]:
#Appending the platform id for the IOS free apps
df_full_ios = df_free_cleaned_ios.append(df_grossing_cleaned_ios, ignore_index=True)
df_full_ios = df_full_ios.append(df_paid_cleaned_ios, ignore_index=True)
df_full_ios['platform_id'] = 1
df_full_ios

            date rank      app_id  category_id  platform_id
0     2020-12-07    1  1502153059            1            1
1     2020-12-07    2   546505307            1            1
2     2020-12-07    3   835599320            1            1
3     2020-12-07    4  1351168404            1            1
4     2020-12-07    5   544007664            1            1
...          ...  ...         ...          ...          ...
6295  2020-12-01  296  1472184189            3            1
6296  2020-12-01  297   295775656            3            1
6297  2020-12-01  298   362949845            3            1
6298  2020-12-01  299  1443988620            3            1
6299  2020-12-01  300  1352834008            3            1

[6300 rows x 5 columns]

In [22]:
#Appending the platform id for the ANDROID free apps
df_full_android = df_free_cleaned_android.append(df_grossing_cleaned_android, ignore_index=True)
df_full_android = df_full_android.append(df_paid_cleaned_android, ignore_index=True)
df_full_android['platform_id'] = 2
df_full_android

            date rank          app_id  category_id  platform_id
0     2020-12-07    1  20600010026980            1            2
1     2020-12-07    2  20600014275149            1            2
2     2020-12-07    3  20600008220049            1            2
3     2020-12-07    4  20600000722620            1            2
4     2020-12-07    5  20600012384481            1            2
...          ...  ...             ...          ...          ...
6295  2020-12-01  296  20600000379168            3            2
6296  2020-12-01  297  20600005921123            3            2
6297  2020-12-01  298  20600011555627            3            2
6298  2020-12-01  299  20600000012915            3            2
6299  2020-12-01  300  20600009199284            3            2

[6300 rows x 5 columns]

In [23]:
#Appending both IOS and ANDROID dataframes
df_full = df_full_ios.append(df_full_android, ignore_index = True)
df_full

             date rank          app_id  category_id  platform_id
0      2020-12-07    1      1502153059            1            1
1      2020-12-07    2       546505307            1            1
2      2020-12-07    3       835599320            1            1
3      2020-12-07    4      1351168404            1            1
4      2020-12-07    5       544007664            1            1
...           ...  ...             ...          ...          ...
12595  2020-12-01  296  20600000379168            3            2
12596  2020-12-01  297  20600005921123            3            2
12597  2020-12-01  298  20600011555627            3            2
12598  2020-12-01  299  20600000012915            3            2
12599  2020-12-01  300  20600009199284            3            2

[12600 rows x 5 columns]

In [24]:
#Create a platform dataframe
platform_dict = {'platform_id':[1,2], 'platform':['iOS','Android']}
df_platform = pd.DataFrame(data = platform_dict)
df_platform

   platform_id platform
0            1      iOS
1            2  Android

In [25]:
#Create a category dataframe 
cat_dict = {'category_id':[1,2,3],'category':['Free','Grossing','Paid']}
df_cat = pd.DataFrame(data=cat_dict)
df_cat

   category_id  category
0            1      Free
1            2  Grossing
2            3      Paid

# Load

In [26]:
#Set your password and username as an Environment variable. Then test it runs properly.
os.getenv('db_pass')

'postgres'

In [27]:
###### IMPORT DATA TO SQL ######

db_pass = os.getenv('db_pass')
engine = create_engine(f'postgresql://postgres:{db_pass}@localhost:5432/app_rankings')

if sqlalchemy_utils.functions.database_exists(engine.url):
    print(sqlalchemy_utils.functions.database_exists(engine.url))
    pass
else:
    sqlalchemy_utils.functions.create_database(engine.url)

In [28]:
# Load dataframes into SQL

df_platform.to_sql('platform',engine, if_exists='replace', index=False)
df_full.to_sql('ranking',engine, if_exists='replace', index=True)
df_publisher.to_sql('publisher',engine, if_exists='replace', index=False)
df_app.to_sql('application', engine, if_exists='replace', index=False)
df_cat.to_sql('category', engine, if_exists='replace', index=False)

In [29]:
#### Sets primary and foreign keys for SQL tables

# Sets primary key for platform table
engine.execute("""
    ALTER TABLE
        platform
    ADD PRIMARY KEY 
        (platform_id);
""");

In [30]:
# Sets primary key for category table
engine.execute("""
    ALTER TABLE
        category
    ADD PRIMARY KEY 
        (category_id);
""");

In [31]:
# Sets primary key for publisher table
engine.execute("""
    ALTER TABLE
        publisher
    ADD PRIMARY KEY 
        (publisher_id);
""");

In [32]:
# Sets primary and foreign keys for application table
engine.execute("""
    ALTER TABLE
        application
    ADD PRIMARY KEY 
        (app_id);
""");

engine.execute("""
    ALTER TABLE
        application
    ADD CONSTRAINT 
        fk_parent_category_id
    FOREIGN KEY
        (category_id) 
    REFERENCES 
        category 
        (category_id);
""");

engine.execute("""
    ALTER TABLE
        application
    ADD CONSTRAINT 
        fk_parent_publisher_id
    FOREIGN KEY
        (publisher_id) 
    REFERENCES 
        publisher 
        (publisher_id);
""");

In [33]:
# Sets foreign keys for ranking table

engine.execute("""
    ALTER TABLE
        ranking
    ADD PRIMARY KEY
        (index)
""");

engine.execute("""
    ALTER TABLE
        ranking
    ADD CONSTRAINT 
        fk_parent_app_id
    FOREIGN KEY
        (app_id) 
    REFERENCES 
        application 
        (app_id);
""");

engine.execute("""
    ALTER TABLE
        ranking
    ADD CONSTRAINT 
        fk_parent_category_id
    FOREIGN KEY
        (category_id) 
    REFERENCES 
        category 
        (category_id);
""");

engine.execute("""
    ALTER TABLE
        ranking
    ADD CONSTRAINT 
        fk_parent_platform_id
    FOREIGN KEY
        (platform_id) 
    REFERENCES 
        platform 
        (platform_id);
""");