In [52]:
# Importing Dependencies

from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
from datetime import datetime, timedelta
from pprint import pprint
import time
import os
import numpy as np
from dotenv import load_dotenv
load_dotenv()
from sqlalchemy import create_engine
import psycopg2
import traceback
import sqlalchemy_utils

In [2]:
os.getenv('password')

'Winter2020!'

In [3]:
user = os.getenv('USER')

password = os.getenv('password')

In [4]:
###### iOS RANKINGS EXTRACTOR ######

#Create the browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=True)

try:

    #Visit the website in 'url'
    url = 'https://www.appannie.com/dashboard/home'
    browser.visit(url)

    #Enter login info
    time.sleep(1)
    browser.find_by_name(name = 'username').type(user)
    browser.find_by_css('input')[1].type(password)
    browser.find_by_tag('button').click()

    #########
    def checker(func,go=None):
        #func is a 'is_present' boolean
        for i in range(3):
            if func:
                go
                break
            else:
                browser.reload()
                time.sleep(2)
    #########
    
    #SET THE NUMBER OF DAYS OF DATA TO EXTRACT -> USED FOR BOTH EXTRACTORS
    retro_days = 7

    #Check for presence of 'Top Chart' tab, click tab
    checker((browser.is_element_present_by_text('Top Charts',wait_time=2)),browser.find_by_text('Top Charts').click())

    #Create date range
    today = datetime.now()
    dates = [(today - timedelta(days=i)).strftime("%Y-%m-%d") for i in range(retro_days)]


    #Grab the the top 300 rows of iOS app rankings from 
    #https://www.appannie.com/apps/ios/top-chart?country=US&category=36&device=iphone&date=2020-12-01&feed=All&page_number=0&page_size=500&rank_sorting_type=rank
    #Create list of dictionaries, each one a different day
    list_of_builds = []

    for moment in dates:
        #get top chart info
        url = f'https://www.appannie.com/apps/ios/top-chart?country=US&category=36&device=iphone&date={moment}&feed=All&page_number=0&page_size=300&rank_sorting_type=rank'
        browser.visit(url)
        time.sleep(5)
        html = browser.html
        soup = BeautifulSoup(html,'html.parser')

        checker(browser.is_element_present_by_css('table'))

        all_trs = soup.table.tbody.find_all('tr')
        build_df = {'rank':[],'date': moment,'free':[],'paid':[],'grossing':[]}
        for _ in all_trs:
            current_rank_apps = [elem.text for elem in _.select('a span')]
            
            toss, app_id1, app_id2, app_id3 = [i.get('data-appid') for i in _.find_all('td')]
            
            rank_num = _.span.text
            build_df['rank'].append((rank_num))
            build_df['free'].append([current_rank_apps[0],current_rank_apps[1],app_id1])
            build_df['paid'].append([current_rank_apps[2],current_rank_apps[3],app_id2])
            build_df['grossing'].append([current_rank_apps[4],current_rank_apps[5],app_id3])

        list_of_builds.append(build_df)

    #concatenate all dataframes
    builds_to_concat = [pd.DataFrame(_).set_index('date') for _ in list_of_builds]
    current_pull_ios = pd.concat(builds_to_concat)
except Exception as e:
    browser.quit()
    print(e)
    traceback.print_exc()
finally:
    browser.quit()

In [5]:
###### ANDROID RANKINGS EXTRACTOR ######

#Create the browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=True)

try:

    #Visit the website in 'url'
    url = 'https://www.appannie.com/dashboard/home'
    browser.visit(url)

    #Enter login info
    time.sleep(1)
    browser.find_by_name(name = 'username').type(os.getenv('user'))
    browser.find_by_css('input')[1].type(os.getenv('password'))
    browser.find_by_tag('button').click()

    #########
    def checker(func,go=None):
        #func is a 'is_present' boolean
        for i in range(3):
            if func:
                go
                break
            else:
                browser.reload()
                time.sleep(2)
    ##########

    #Check for presence of 'Top Chart' tab, click tab
    checker((browser.is_element_present_by_text('Top Charts',wait_time=7)),browser.find_by_text('Top Charts').click())

    #Create date range
    today = datetime.now()
    dates = [(today - timedelta(days=i)).strftime("%Y-%m-%d") for i in range(retro_days)]



    #https://www.appannie.com/apps/ios/top-chart?country=US&category=36&device=iphone&date=2020-12-01&feed=All&page_number=0&page_size=500&rank_sorting_type=rank
    #list of dictionaries, each one a different day
    list_of_builds = []

    for moment in dates:
        #get top chart info
        url = f'https://www.appannie.com/apps/google-play/top-chart/?country=US&category=1&device=&date={moment}&feed=All&rank_sorting_type=rank&page_number=0&page_size=300'
        browser.visit(url)
        time.sleep(5)
        html = browser.html
        soup = BeautifulSoup(html,'html.parser')

        checker(browser.is_element_present_by_css('table'))

        all_trs = soup.table.tbody.find_all('tr')
        build_df = {'rank':[],'date': moment,'free':[],'paid':[],'grossing':[]}
        for _ in all_trs:
            current_rank_apps = [elem.text for elem in _.select('a span')]
            toss, app_id1, app_id2, app_id3, app_id4, app_id5 = [i.get('data-appid') for i in _.find_all('td')]
            
            rank_num = _.span.text
            build_df['rank'].append((rank_num))
            build_df['free'].append([current_rank_apps[0],current_rank_apps[1],app_id1])
            build_df['paid'].append([current_rank_apps[2],current_rank_apps[3],app_id2])
            build_df['grossing'].append([current_rank_apps[4],current_rank_apps[5],app_id3])

        list_of_builds.append(build_df)

    #concatenate all dataframes
    builds_to_concat = [pd.DataFrame(_).set_index('date') for _ in list_of_builds]
    current_pull_google_play = pd.concat(builds_to_concat)
except Exception as e:
    browser.quit()
    print(e)
    traceback.print_exc()
finally:
    browser.quit()

In [6]:
current_pull_ios

,rank,free,paid,grossing
date,,,,
2020-12-07,1,"[Hype Simulator, Ulkar Akhundzada, 1502153059]","[Minecraft, Mojang, 479516143]","[YouTube: Watch, Listen, Stream, Google, 54400..."
2020-12-07,2,"[Among Us!, InnerSloth, 1351168404]","[Incredibox, So Far So Good, 1093131935]","[Tinder - Dating & Make Friends, Match Group, ..."
2020-12-07,3,"[TikTok, TikTok Pte Ltd, 835599320]","[Heads Up! Best Charades game, Warner Bros, 62...","[Roblox, Roblox, 431946152]"
2020-12-07,4,"[YouTube: Watch, Listen, Stream, Google, 54400...","[Plague Inc., Ndemic Creations, 525818839]","[Disney+, Disney, 1446075923]"
2020-12-07,5,"[ZOOM Cloud Meetings, Zoom Video Communication...","[Monopoly, Marmalade, 1477966166]","[Clash of Clans, Supercell, 529479190]"
...,...,...,...,...
2020-12-01,296,"[BURGER KING¬Æ App, BURGER KING, 638323895]","[The White Door, LoyaltyGame, 1472184189]","[Grammarly - Writing Assistant, Grammarly, 115..."
2020-12-01,297,"[VSCO: Photo & Video Editor, Visual Supply, 58...","[12 Steps Companion AA Big Book, Dean Huff, 29...","[Solitaire Cruise Tripeaks Card, Samfinaco, 15..."
2020-12-01,298,"[Funimation, Funimation, 1075603018]","[Fruit Ninja Classic, Halfbrick, 362949845]","[Spotify: Music and podcasts, Spotify, 324684580]"
2020-12-01,299,"[My Spectrum, Charter Communications, 942608209]","[Quantumult X, Cross Utility Ltd, 1443988620]","[Wynn Slots - Las Vegas Casino, Wynn Social, 1..."
2020-12-01,300,"[AMAZE!!!, Crazy Labs, 1452526406]","[Camera for OBS Studio, Will Townsend, 1352834...","[Diner DASH Adventures, Glu, 1380831764]"

In [7]:
df_ios_new = current_pull_ios.reset_index()
df_android_new = current_pull_google_play.reset_index()
df_android_new

,date,rank,free,paid,grossing
0,2020-12-07,1,"[Among Us, InnerSloth, 20600010026980]","[Minecraft, Mojang, 20600000000768]","[Coin Master, Moon Active, 20600005233076]"
1,2020-12-07,2,[Google Pay: A safe & helpful way to manage mo...,[Monopoly - Board game classic about real-esta...,"[Pok√©mon GO, Niantic, 20600005891187]"
2,2020-12-07,3,"[Object Hunt, Kwalee, 20600014275149]","[Bloons TD 6, Ninja Kiwi, 20600009916650]","[Genshin Impact, miHoYo, 20600013866017]"
3,2020-12-07,4,"[ZOOM Cloud Meetings, Zoom Video Communication...","[Incredibox, So Far So Good, 20600008794572]","[Google One, Google, 20600009883514]"
4,2020-12-07,5,"[Disney+, Disney, 20600012384481]","[THE GAME OF LIFE 2 - More choices, more freed...","[Disney+, Disney, 20600012384481]"
...,...,...,...,...,...
2095,2020-12-01,296,[Tile Connect - Free Tile Puzzle & Match Brain...,"[AlfaOBD, AlfaOBD Soft, 20600000379168]","[One-Punch Man: Road to Hero 2.0, Oasis Games,..."
2096,2020-12-01,297,"[Perfect Cream, Playgendary, 20600013155549]","[Warhammer 40,000: Regicide, Hammerfall Publis...","[Rise of the Kings, Onemt, 20600005768252]"
2097,2020-12-01,298,"[Sonic Dash - Endless Running & Racing Game, S...","[My City : Newborn baby, My Town, 20600011555627]","[Likee - Let You Shine, BIGO, 20600007866046]"
2098,2020-12-01,299,[Paint By Number - Coloring Book & Color by Nu...,[Sleep as Android Unlock üí§ Sleep cycle smart a...,"[Charm King, PlayQ, 20600002192822]"
2099,2020-12-01,300,"[Talking Tom Hero Dash - Run Game, Outfit7, 20...","[Suzy Cube, Noodlecake Studios, 20600009199284]","[Call me a Legend - Game of Battle & Love, Emp..."

In [54]:
def check_publisher(element, element_list):
    if element not in element_list:
        element_list.append(element)
        
def check_app(element, cat, element_list, cat_list, lookup_table, pub_id_list, app_id_list):
    if element[2] not in element_list:
        element_list.append(element[0])
        cat_list.append(cat)
        app_id_list.append(element[2])
        pub_id_list.append(int(lookup_table[lookup_table['publisher_name'] == element[1]]['publisher_id']))

In [55]:
publisher_list = []

for index, row in df_ios_new.iterrows():
    check_publisher(row['free'][1], publisher_list)
    check_publisher(row['grossing'][1], publisher_list)
    check_publisher(row['paid'][1], publisher_list)
   
for index, row in df_android_new.iterrows():
    check_publisher(row['free'][1], publisher_list)
    check_publisher(row['grossing'][1], publisher_list)
    check_publisher(row['paid'][1], publisher_list)

In [56]:
publisher_id = np.arange(1, len(publisher_list)+1)

In [57]:
publisher_list

['Ulkar Akhundzada',
 'Google',
 'Mojang',
 'InnerSloth',
 'Match Group',
 'So Far So Good',
 'TikTok Pte Ltd',
 'Roblox',
 'Warner Bros',
 'Disney',
 'Ndemic Creations',
 'Zoom Video Communications',
 'Supercell',
 'Marmalade',
 'Voodoo',
 'Pandora',
 'Ninja Kiwi',
 'Instagram',
 'King',
 'Savage Interactive',
 'Facebook',
 'Niantic',
 'RobTop',
 'SayGames',
 'Warner Media',
 'Rockstar Games',
 'Bumble',
 'Lightricks',
 'Snap',
 'Hulu',
 'ADVA Soft',
 'Amazon',
 'Playrix',
 'HotSchedules',
 'True Axis',
 'Netflix',
 'Clickteam',
 'Square Inc',
 'Moon Active',
 '505 Games',
 'Twitch Interactive',
 'Flipline',
 'Shopify',
 'Seekrtech',
 'WhatsApp',
 'BIGO',
 'Terminal Eleven',
 'Spotify',
 'Peak',
 'Starz Entertainment',
 'Giants Software',
 'Activision Publishing',
 '2kit Consulting',
 'Tencent',
 '2K Games',
 'NetEase',
 'Twitter',
 'Playtika',
 'Domus Technica',
 'Walmart',
 'BANDAI NAMCO Entertainment',
 'Chucklefish',
 'Target',
 'miHoYo',
 'Tantsissa',
 'Discord',
 'Garena Online',
 'DoorDash',
 'Magic Tavern',
 'Suture Sound Inc.',
 'PayPal',
 'KingsGroup',
 '44SEVEN MEDIA',
 'North Pole Command Centre Limited',
 'Venmo',
 'Linkedin',
 'Zynga',
 'Apple',
 'Kwalee',
 'Pinterest',
 'Ellation',
 'Fifth Star',
 'Roku',
 'Williams Interactive',
 'Exploding Kittens',
 'Dropbox',
 'Anton Lebed',
 'FTY',
 'DAZN',
 'CubeMG',
 'Taco Bell',
 'Playdemic',
 'Jacquielawson',
 'Plarium',
 'Fat Cigar Productions',
 '7th Beat Games',
 'NEOCORTEXT',
 'Double Down Interactive',
 'AirBeamTV',
 'Shein',
 'Nexters',
 'Lima Sky',
 'Playtika Santa Monica',
 'reddit',
 'Scopely',
 'Corsair Components, Inc.',
 'Supersonic',
 'IGG',
 'Cross Forward Consulting',
 'Ifwe',
 "Raffaele D'Amato",
 'EFUN',
 'Product Madness',
 'OfferUp',
 'Microsoft',
 'Pacific-Interactive',
 'Zakeh',
 'Bole Games',
 'Etermax',
 "McDonald's",
 'ESPN',
 'Crowdstar',
 'TonalEnergy',
 'Amanotes',
 'BoltCreative',
 'Incpt.Mobis',
 'PeopleFun',
 'IMVU',
 'TimeBaseTech',
 'Rarevision',
 'Tactile Games',
 'eBay',
 'Huuuge Games',
 'Nike',
 'Top Games',
 'ContextLogic',
 'SoundCloud',
 'Electronic Arts',
 'IEC',
 'Pankaj Goswami Inc',
 'Lion Studios',
 'Big Fish Games',
 'FiLMiC',
 'Lilith',
 'Ubisoft',
 'Klarna',
 'Toca Boca',
 'Uber Technologies',
 'Sybo',
 'Leyi Network',
 'Aspyr',
 'Orion uwu',
 'Weight Watchers',
 'Image Line',
 'Good Job Games',
 'The Meet Group',
 'Humble Bundle',
 'Small Giant Games',
 'Readdle',
 'Tubi',
 'Tidal',
 'VitoTech',
 'Yotta Games',
 'CloudMosa',
 'Coffee Stain',
 'USMGames',
 'PicsArt',
 'chris rogers',
 'onXmaps',
 'Mango Labs',
 'iHeartMedia',
 'Bennett Foddy',
 'CBS Interactive',
 'Steel Wool Games, Inc.',
 'Epic Systems',
 'Duolingo',
 'JindoBlu',
 'Fetch Rewards',
 'MapMyFitness',
 'MoonBear',
 'Starbucks',
 'GingerLabs',
 'Loop Games A.S',
 'Episode Interactive',
 'Hindsight',
 'Etsy',
 'IEC Games',
 'Kabam',
 'Audible',
 'Dual Decade',
 'Enflick',
 'NAVER',
 'Works Inc',
 'Not Doppler',
 'Microblink',
 'Infinity Pocket',
 'Telegram',
 'Life360',
 'Funn Media',
 'Ring.com',
 'Calm',
 'Elokence',
 'Reworks',
 'PRMP DIGITAL LIMITED',
 'Popcore',
 'Crunchy Bagel',
 'Zillow',
 'Funimation',
 'Matt Berg',
 'Robinhood',
 'Sirius Technology',
 'Topwar Studio',
 'Kpaw',
 'PlayStudios',
 'X.D. Network',
 'Crazy Labs',
 'FunPlus',
 'Robot Gentleman',
 'Miniclip',
 'Ê¨¢ Âàò',
 'NaturalMotion',
 'Jason Loewy',
 'Early Warning',
 'Spike Chunsoft',
 'Apalon',
 'Calculated',
 'Ruby Game',
 'Supertreat',
 'Poshmark',
 'Camel Games',
 'Devolver Digital',
 'Twelve APP',
 'SEGA',
 'Super Lucky Casino',
 'Long Tech Network',
 'Life.Church',
 'Azur Interactive Games',
 'Jam City',
 'Com2uS',
 'Particle Media',
 'BET Networks',
 'Damien Elmes',
 'Mattel163',
 'DoubleU',
 'Monash University',
 'Musi',
 'BPMobile',
 'Lyft',
 'Vizor',
 'Daniel Gil',
 'Peacock TV',
 'Codebrew Games',
 'Credit Karma',
 'Grubhub',
 'Gram Games',
 'Asmodee',
 'Fonts LLC',
 'TuneIn',
 'Moment Inc.',
 'Wolfram Alpha',
 'Kentaro Yama',
 'Game Show Network',
 'Kasper Systems',
 'Matchingham Games',
 'Netmarble',
 'Flying Development Studio',
 'Pixelberry',
 'Nekki',
 'Peloton',
 'Dreame',
 'MobiVio',
 'Storm8',
 'Waze',
 'Glu',
 'Rick Meyers',
 'Bending Spoons',
 'Maxim Gapchenko',
 'Headspace',
 'Grailr',
 'Indeed.com',
 'Smule',
 'Forks Over Knives',
 'Yelp',
 'Core Coders',
 'MM Apps',
 'Zoosk',
 'LiveATC',
 'Big Run Studios',
 'Luma Touch',
 'NFL Enterprises',
 'TangoMe',
 'in a nutshell - kurzgesagt GmbH',
 'ChineseAll',
 'Afterpay',
 'Cogitap',
 'Seriously Digital Entertainment',
 'Christoph Matzka',
 'Mechanist',
 'Samer Azzam',
 'Flo Health',
 'KS Mobile',
 'Shazam Entertainment',
 'Pantaya',
 'MikaMobile',
 'Sony',
 'Mageeks Apps & Games',
 'RedBull',
 'Bennett Racing Simulations',
 'Instacart',
 'Atari',
 'Walgreens',
 'Mathway',
 'Tiya',
 'Ironhide',
 'Unico Studio',
 'Deftun',
 '1Debit',
 'Fitbit',
 'Optime Software',
 'Cocologics',
 'Grindr',
 'Moonton',
 'Rovio',
 'Life on Air',
 'FOCUS HOME INTERACTIVE',
 'Shutterfly',
 'TelTech',
 'FAYJU',
 'JPMorgan Chase',
 'Visual Supply',
 'Gammon Applications',
 'Eyewind',
 'Ten Square Games',
 'Snowman',
 'Bath & Body Works',
 'Alexey Antropov',
 'Ace Games',
 'Dragonplay',
 'Andreas Illiger',
 'Capital One',
 'Canva',
 'Playdigious',
 'Bitstrips',
 'Madness Limited',
 'Flo Living',
 'Popshow',
 'Piksoft',
 'Cricut',
 'Florian Schimanke',
 '37games',
 'Andreas Kambanis',
 'Imangi',
 'Wooga',
 'OCTech',
 'MYTONA',
 'LateNiteSoft',
 'ByteDance',
 'Pixonic',
 'KONAMI',
 'SQUARE ENIX',
 'Verizon Wireless',
 'Áé≤Áé≤ Âê¥',
 'TextMe',
 'LIME TURTLE',
 'Chess.com',
 'Playdots',
 'ustwo',
 'KillHouse Games',
 'Showtime Networks',
 'Gameloft',
 'Samfinaco',
 'JoyBits',
 "Wendy's",
 'China Literature',
 'Annapurna',
 'Intuit',
 'Nelson Media',
 "Domino's Pizza",
 'Nintendo',
 'Dry Cactus',
 'Media Social',
 'e-Courier',
 'Lowtech Studios',
 'Aniplex',
 'Noctua',
 'Bank of America',
 'Kayla Itsines',
 'Intelligent Change',
 'TinyByte Apps',
 'Feral Interactive',
 'GOAT',
 'RORTOS',
 'Mercari',
 'CATEATER',
 'Reliance Big Entertainment',
 'Best Buy',
 'Adobe',
 'Anuken',
 'Siqi Shen',
 'Baron App',
 'KAYAC',
 'Autonoma',
 'Playdead',
 'IntSig',
 'Jedasoft',
 'Chick-fil-A',
 'Chegg',
 'Jadon Barnes',
 'Donut Games',
 'Rollic',
 'Smilegate Megaport',
 'TeamSpeak',
 'Wildlife Studios',
 'Netzinkubator Software',
 'Foot Locker',
 'Instasize',
 'Quantum Four Inc',
 'Hewlett-Packard',
 'CyberGhost',
 'Cultured Code',
 'Yahoo!',
 'Avid.ly',
 'Joey Drew',
 'VLMedia',
 'Epic Action',
 'ForceReadiness.com',
 'Quadpay',
 'Sportsman Tracker',
 'Allstays',
 'IPACS',
 'Word Game Studio',
 'Badoo',
 'Oceanhouse Media',
 'N3TWORK',
 'Viki',
 'Astragon',
 'Glitche',
 'Brainly',
 'Flipps',
 'Tinrocket',
 'InShot Inc',
 'XtraMath',
 'Airbnb',
 'C & Z Tech',
 'Seacloud',
 'StockX',
 'Age of Learning',
 'interealtime',
 'Philo',
 'Will Townsend',
 'Genesis Media',
 'Candywriter',
 'LiveBird',
 'Auxbrain',
 'Newell Media',
 'Frontier Design',
 'Abylight',
 'Dow Jones',
 'Alexander Nowak',
 "Dunkin' Brands",
 'DH Games',
 'Raw Fury',
 'Word Find',
 'Matis',
 'Topanga Technologies',
 'Ivan De Cabo',
 'BetterMe',
 'Team17',
 'X-Flow',
 'Babbel',
 'Rego apps',
 'Wattpad',
 'Ultimate Guitar',
 'Candy Rufus',
 'Alibaba',
 'Fireproof Games',
 'Luni',
 'Melesta',
 'Clover Inc.',
 'HappyCow',
 'Bash Gaming',
 'Nexever Pty Ltd',
 'NBC Universal',
 'Onemt',
 'Igor Borisov',
 'Jelly Button',
 'Clafou Ltd',
 'Samsung Electronics',
 'Avcr',
 'FutureMind',
 'Meitu',
 'MarineTraffic',
 'Dianjinshi Information Technology Co., Ltd',
 'Hyperconnect',
 'Pinger',
 'Clipwire',
 'Wells Fargo',
 'Nanobit',
 'Comcast',
 'Murka',
 'NY Times',
 'Kristian Stensoenes',
 'Fengniao Yufei',
 'Owen Stanley',
 'Postmates',
 'Bowen Games',
 'Code Organa',
 'Macys',
 'left brain right brain',
 'Cascode',
 'Alexey Bogdanov',
 'LW Brands',
 'Kahoot!',
 'Hily',
 'ASCCP',
 'Social Point',
 'Bossa',
 'Wayfair',
 'Contents First',
 'K Solution',
 'Mobile Jump',
 'Skype',
 'Hitcents',
 'Finish Line',
 'FitNow',
 'Journey Bound Games Inc.',
 'AT&T',
 'Mobile Deluxe',
 'Zardoz',
 'BROKEN RULES',
 'The Zeus Network',
 'Nickelodeon',
 'AnchorFree',
 'Luis Medel',
 'INKHUNTER',
 'Nextdoor',
 'Workman Consulting',
 'Kohl‚Äôs',
 'Free photo video editor and picture movie editing',
 'OurBigAdventure, LLC',
 'Runtastic',
 'Ancestry.com',
 'Cartoon Network',
 'Radish',
 'Antares Audio Technology',
 'Audiomack',
 'Slots Limited',
 'GameChanger Media',
 'Duo Security',
 'A.L. Amazing',
 'Innovative Developers',
 'ME2ZEN',
 'PeakFinder',
 'PurpleKiwii',
 'Yalla',
 'T-Mobile US',
 'GoodNovel',
 'TMSOFT',
 'Jeffrey Kuiken',
 'nWay',
 'Epic Creations',
 'Pixelmator Team',
 'Strava',
 'Xiaoyi',
 'Aerfish',
 'Joypac',
 'Ruby Life',
 'Kaigan Games O√ú',
 'Step Mobile',
 'Gamesoul Studio',
 'Playgendary',
 'Simulation Curriculum',
 'Cisco',
 'The Weather Company',
 'Crossfire Designs',
 'Co-Star Astrology Society',
 'Prequel',
 'Bret Hardman',
 'BigWinePot',
 'Ilyon Dynamics',
 'ActiveNetwork',
 'The Cowboy Channel LLC',
 'Techet',
 'Special Gamez',
 'OneSoft',
 'David Wehle',
 'Tastypill',
 'Epic War',
 'Kefir',
 'Volcano Force',
 'Pizza Hut',
 'Frosch',
 'PhotoPills',
 'Lukasz Jakowski',
 'CAPCOM',
 'Beach Bum',
 '89Trillion',
 'Dan Russell-Pinson',
 'HamiltonsApps',
 'My Town',
 'Yew Technology',
 'GPSNavX',
 'Madbox',
 'Primate Labs',
 'Lockwood Publishing',
 'Evil Studios Limited',
 'DeusCraft',
 'Pocket Gems',
 'Marek Bereza',
 'DMorneault',
 'Giant Network',
 'Defiant Development',
 'Hoop Live s.r.o.',
 'Zenjoy',
 'ULTA',
 'CHG Developments',
 'Comunix',
 'Rakuten Ebates',
 'InnoGames',
 'Mobee',
 'Base Velocity',
 'Popeyes Louisiana Kitchen',
 'eHarmony',
 'Creste',
 'Fox Sports',
 'Thi Thanh Binh',
 'David Desrochers',
 'URBAN EDGE DESIGN STUDIO, L. L. C',
 'Jundroo',
 'Tefinkom & CO',
 'iParty',
 'Kidapp.ru',
 'Greenheart Games',
 'Technimo',
 'Informed Publishing',
 '8SEC',
 'Klei Entertainment',
 'Dollar General',
 'wenpeng zeng',
 'Plug In Digital',
 'Marko Radakovic',
 'Little Caesars',
 'YouNow',
 'Elex Technology',
 'TapMediaLTD',
 'Chipotle Mexican Grill',
 'Digital Dowsing',
 'EasyTech',
 'Sunday.gg',
 'DVloper',
 'mixtvision digital',
 'Trail of Bits',
 'ForTheLoss',
 'TV Cast',
 'Dil Mil',
 'Halfbrick',
 'MZ',
 'BURGER KING',
 'iInnovate',
 'Appxy',
 'Luka',
 'ADP LLC',
 'Snoozle Limited',
 'MediaVibe',
 'YOOZOO Games',
 'musictheory',
 'Upside Services',
 'BeFunky',
 'Side Labs LLC',
 'MLB Advanced Media',
 'Limmer',
 'Mediocre',
 'Max Shaw',
 'WMP',
 'DataRiver',
 'GoodRx',
 'Wired Betterment',
 'Affirm',
 'Tap4Fun',
 'Udemy',
 'Teach Monster Games',
 'Wales Interactive Ltd.',
 'Charter Communications',
 'TechSmith',
 'Archosaur Games',
 'KamaGames',
 'UGroupMedia',
 'ozPDA',
 'iUniform',
 'Wargaming.net',
 'Acid Remap',
 'Marco Wenisch',
 'SIRIUS XM Radio',
 'Nathaniel Eliason',
 'Habby',
 'Sporcle',
 'Subway',
 'Visible Body',
 'Instructure',
 'Lucas Yamashita',
 'Maple Studios',
 'Aviation Supplies Academics',
 'Mood Meter',
 'Open Planet Software',
 'Treastone',
 'Sydvesti Oy',
 "D'Adamo Personalized Nutrition",
 'Route App',
 'tinyBuild',
 'Planet Fitness',
 'Fashion Nova',
 'Luminous Labs',
 'UPS',
 'Quizlet',
 'Sarah Stevenson',
 'American Broadcasting Company ABC',
 'Visual Vertigo',
 'Grammarly',
 'Ringtones Ltd',
 'FullyRaw',
 'Skout',
 'D3Publisher',
 'MoFunZone',
 'DIGITAL MINDS MARKETING SL',
 'REMIND101',
 'Chris J Ward',
 'Andres Canella',
 'Á´ãÈπè Êûó',
 'Magnificat',
 "Victoria's Secret",
 'Thanh Ho',
 'Eden Software Limited',
 'LisbonLabs',
 'Civi Corp',
 'BlackjackApprenticeship.com',
 'Bickster Studios',
 'Panteon',
 'Dean Huff',
 'HeadUpGames',
 'Suji Games',
 'KLab',
 'Carol Ellen Measles',
 'DeNA',
 'Standard Media',
 'Nexvio',
 'Dynamic Slash LLC',
 'LoopLoop',
 'Nikolay Partas',
 'Martin Man',
 'The Home Depot',
 'Gluten Free Games',
 'Tatem',
 'Coinbase',
 'GEICO',
 'Wynn Social',
 'Elevate Labs',
 'A Thinking Ape',
 'cheyoujia',
 'Local Network',
 'Elf on the Shelf',
 'Aqreadd studios',
 'Carson Lougheed',
 'ramii Moghrabi',
 'Noah Gilmore',
 'Good Smile Company',
 'FROLIMITO',
 'IllusionLabs',
 'Renaissance Periodization',
 'Honey Science',
 'Marmelapp',
 'Depop',
 'Fool s Dog',
 'LoyaltyGame',
 'Cross Utility Ltd',
 'AI Factory',
 'Exophase',
 'SmartWatch Studios',
 'Fast Emulator',
 'Microcourt Limited',
 'DRSV',
 'Gordon Edwards',
 'Ian Hawkins',
 'SciPlay',
 'Max MP',
 'Dinosaur Polo',
 'TeslaCoil',
 'MRE Programming',
 'Epsxe',
 'Yso',
 'Crescent Moon Games',
 'Pluto.tv',
 'Piyada Interactive',
 'Noodlecake Studios',
 'Kustom',
 'olgor.com',
 'Steel Wool Studios',
 'Infinite Flight LLC',
 'Dev47Apps',
 'joaomgcd',
 'PixelCurves',
 'ËÄÅÁéã',
 'Simple Design',
 'Big Cake Apps',
 'Sylvie',
 'Afterburn',
 'TeaCapps',
 'ChillSeekers',
 'PyteByte',
 'Funnii',
 'Fabled',
 'Lucky Mobile Games',
 'Panda Gaming',
 'Corroding',
 'Loona Inc',
 'Asmodee Digital',
 'Blue Brain Games',
 'FoxFi',
 'Wait But Why & Kurzgesagt',
 'Bethesda',
 'Outfit7',
 'John emulators',
 'Influence Mobile',
 'Infinity Games',
 'JustNewDesigns',
 'Boke',
 'CryptoCompany OU',
 'Florian Grill',
 'mogame',
 'DamonPS2 Emulator Studio',
 'PRMP Digital',
 'Paradyme',
 'MontanaGames',
 'TapNice',
 'Simple Mobile Tools',
 'BDT Digital',
 'RUSSO-BEL-REMSTROI',
 'Shimon Young',
 'PlayWay',
 'MX Player',
 'Tiny Solutions LLC',
 'ibis',
 'Tripledot',
 'IGS',
 'AGaming',
 'Washington Department of Health',
 'Exelerus Apps',
 'Easy Inc.',
 'HandyGames',
 'Cory Charlton',
 'ZigZaGame',
 'Digipom',
 'Symantec',
 'Henrik Rydg√•rd',
 'Bagelcode',
 'Newsmax Media',
 'Tiny Watch',
 'Dire Wolf Digital',
 'Kairosoft',
 'Rogueside',
 'Pearl Abyss',
 'MyFitnessPal',
 'Ducky',
 'ACME AtronOmatic',
 "Sam's Club",
 'Nox Ltd',
 'Modo',
 'Pizza Emulators',
 'Gamma Play',
 'FifthSource',
 'DuckDuckGo',
 'Malcs',
 'Yostar',
 'icorewwwi',
 'Retro Lounge Lab',
 'Rayark',
 'RandomVector',
 'Chewy',
 'JW Dev;',
 'M2CATALYST',
 'Kakao',
 'Perfect World',
 'Jenko',
 'Josh Williams',
 'Homa',
 'ZomboDroid',
 'OuttieFiveThou',
 'AlfaOBD Soft',
 'Candivore',
 'Seven Pirates',
 'My Macros',
 "Lowe's",
 'Alex Savin',
 'Gismart',
 'NewTek, Inc.',
 'policedeveloper',
 'Northway Games',
 'Invictus',
 'Headup',
 'Mihul Singh',
 'Chuang Cool',
 'Beamdog',
 'Pixel Federation',
 'eXtream',
 'Jiri Techet',
 'Duet, Inc.',
 'Goodgame Studios',
 'Fuero Games',
 '≈Åukasz Jakowski',
 'Bold Games Limited',
 'Plan23',
 'Signal Stuff',
 'SUPERBOX. Inc',
 'Real Vision Ltd',
 'Current Media',
 'Spicerack',
 'SyncTech Pty',
 'eSkyFun',
 'Pokelabo',
 'LDRLY',
 'apps lab studio',
 'Chess Prince',
 'Zedge',
 'Ray Spark',
 'Valorware',
 'Elestorm Game',
 'akseno2',
 'Incorporate',
 'Young Horses',
 'craigslist.org',
 'VC Technology',
 'Urbandroid (Petr N√°levka)',
 'GeneRe',
 'Easybrain',
 'Robot Circus',
 'Jetblack Software',
 'Dating.com',
 'EtherGaming',
 'Puzzle Free Game',
 'Elokence SAS',
 'Joy Mania',
 'Skymoons',
 'Wakdev',
 'Joycity',
 'Brownmonster Limited',
 'Fluid Touch',
 'Redemption Games',
 'Amanita Design',
 'Propel',
 'Game Brain',
 'Eastside',
 'Valsar',
 'Media Mushroom',
 'Ludia',
 'AlphaOne',
 'BEKKO GAMES',
 'MY.COM',
 'ilmfinity',
 'Darken',
 'Coinbase Android',
 'Everybody',
 '111%',
 'John Goering',
 'Panoramik Games',
 'Parler',
 'Trese Brothers',
 'NovaSoft Interactive',
 'Galaxy Entertainment Group',
 'The Label Limited',
 'New Story Inc.',
 'DailyInnovation',
 'PlayQ',
 'Shapekeeper',
 'Wanin',
 'GIF Maker & GIF Editor & Video Maker',
 'CyberStep',
 'Ventis',
 'Police Scanner',
 'GameCoaster',
 'NLL',
 'Joel McDonald',
 'Herzenswerk.IT GmbH',
 'AllTrails',
 'Karmagame',
 'NeoYantra Technologies',
 'Oasis Games',
 'HAL Laboratory',
 'Space Ape',
 'Media Nest',
 'Tuyoo',
 'Blackjack Apprenticeship',
 'Herring Networks',
 'OFTN Inc.',
 'Refinery Productions',
 'ADP, INC.',
 'Borg Studio',
 'Bret H. Hardman',
 'InShot Video Editor',
 'Unified Intents',
 'Safe Apps Inc',
 'TalkLittle',
 ...]

In [58]:
df_publisher = pd.DataFrame(zip(publisher_id, publisher_list), columns=['publisher_id','publisher_name'])
df_publisher

      publisher_id         publisher_name
0                1       Ulkar Akhundzada
1                2                 Google
2                3                 Mojang
3                4             InnerSloth
4                5            Match Group
...            ...                    ...
1082          1083            Green Panda
1083          1084        Games Operators
1084          1085                 Movile
1085          1086        Small Beautiful
1086          1087  Hammerfall Publishing

[1087 rows x 2 columns]

In [59]:
app_list = []
cat_list = []
pub_id = []
app_id = []

for index, row in df_ios_new.iterrows():
    # If the app is not in the list yet, insert it into the list and insert the category on the cat_list: 1(Free), 2(Grossing), 3(Paid)
    check_app(row['free'], 1, app_list, cat_list, df_publisher, pub_id, app_id)
    check_app(row['grossing'], 2, app_list, cat_list, df_publisher, pub_id, app_id)
    check_app(row['paid'], 3, app_list, cat_list, df_publisher, pub_id, app_id)
    
for index, row in df_android_new.iterrows():
    # If the app is not in the list yet, insert it into the list and insert the category on the cat_list: 1(Free), 2(Grossing), 3(Paid)
    check_app(row['free'], 1, app_list, cat_list, df_publisher, pub_id, app_id)
    check_app(row['grossing'], 2, app_list, cat_list, df_publisher, pub_id, app_id)
    check_app(row['paid'], 3, app_list, cat_list, df_publisher, pub_id, app_id)

In [60]:
df_app = pd.DataFrame(zip(app_id, app_list, cat_list, pub_id), columns=['app_id','app_name','category_id','publisher_id'])
df_app = df_app.drop_duplicates(subset=['app_id'], keep = 'first')
df_app

,app_id,app_name,category_id,publisher_id
0,1502153059,Hype Simulator,1,1
1,544007664,"YouTube: Watch, Listen, Stream",2,2
2,479516143,Minecraft,3,3
3,1351168404,Among Us!,1,4
4,547702041,Tinder - Dating & Make Friends,2,5
...,...,...,...,...
12590,20600005921123,"Warhammer 40,000: Regicide",3,1087
12591,20600001747570,Sonic Dash - Endless Running & Racing Game,1,233
12593,20600011555627,My City : Newborn baby,3,600
12597,20600011642223,Talking Tom Hero Dash - Run Game,1,820
12599,20600009199284,Suzy Cube,3,793

In [15]:
df_free_ios = pd.DataFrame(df_ios_new['free'].to_list(), columns = ['app_name', 'publisher', 'app_id'])
df_free_cleaned_ios = df_ios_new[['date','rank']].merge(df_free_ios[['app_id']], left_index = True, right_index = True)
df_free_cleaned_ios['category_id'] = 1
df_free_cleaned_ios

            date rank      app_id  category_id
0     2020-12-07    1  1502153059            1
1     2020-12-07    2  1351168404            1
2     2020-12-07    3   835599320            1
3     2020-12-07    4   544007664            1
4     2020-12-07    5   546505307            1
...          ...  ...         ...          ...
2095  2020-12-01  296   638323895            1
2096  2020-12-01  297   588013838            1
2097  2020-12-01  298  1075603018            1
2098  2020-12-01  299   942608209            1
2099  2020-12-01  300  1452526406            1

[2100 rows x 4 columns]

In [16]:
df_free_android = pd.DataFrame(df_android_new['free'].to_list(), columns = ['app_name', 'publisher', 'app_id'])
df_free_cleaned_android = df_android_new[['date','rank']].merge(df_free_android[['app_id']], left_index = True, right_index = True)
df_free_cleaned_android['category_id'] = 1
df_free_cleaned_android

            date rank          app_id  category_id
0     2020-12-07    1  20600010026980            1
1     2020-12-07    2  20600008220049            1
2     2020-12-07    3  20600014275149            1
3     2020-12-07    4  20600000722620            1
4     2020-12-07    5  20600012384481            1
...          ...  ...             ...          ...
2095  2020-12-01  296  20600013894808            1
2096  2020-12-01  297  20600013155549            1
2097  2020-12-01  298  20600001747570            1
2098  2020-12-01  299  20600010362653            1
2099  2020-12-01  300  20600011642223            1

[2100 rows x 4 columns]

In [17]:
df_paid_ios = pd.DataFrame(df_ios_new['paid'].to_list(), columns = ['app_name', 'publisher', 'app_id'])
df_paid_cleaned_ios = df_ios_new[['date','rank']].merge(df_paid_ios[['app_id']], left_index = True, right_index = True)
df_paid_cleaned_ios['category_id'] = 3
df_paid_cleaned_ios

            date rank      app_id  category_id
0     2020-12-07    1   479516143            3
1     2020-12-07    2  1093131935            3
2     2020-12-07    3   623592465            3
3     2020-12-07    4   525818839            3
4     2020-12-07    5  1477966166            3
...          ...  ...         ...          ...
2095  2020-12-01  296  1472184189            3
2096  2020-12-01  297   295775656            3
2097  2020-12-01  298   362949845            3
2098  2020-12-01  299  1443988620            3
2099  2020-12-01  300  1352834008            3

[2100 rows x 4 columns]

In [18]:
df_paid_android = pd.DataFrame(df_android_new['paid'].to_list(), columns = ['app_name', 'publisher', 'app_id'])
df_paid_cleaned_android = df_android_new[['date','rank']].merge(df_paid_android[['app_id']], left_index = True, right_index = True)
df_paid_cleaned_android['category_id'] = 3
df_paid_cleaned_android

            date rank          app_id  category_id
0     2020-12-07    1  20600000000768            3
1     2020-12-07    2  20600012452870            3
2     2020-12-07    3  20600009916650            3
3     2020-12-07    4  20600008794572            3
4     2020-12-07    5  20600013538453            3
...          ...  ...             ...          ...
2095  2020-12-01  296  20600000379168            3
2096  2020-12-01  297  20600005921123            3
2097  2020-12-01  298  20600011555627            3
2098  2020-12-01  299  20600000012915            3
2099  2020-12-01  300  20600009199284            3

[2100 rows x 4 columns]

In [19]:
df_grossing_ios = pd.DataFrame(df_ios_new['grossing'].to_list(), columns = ['app_name', 'publisher', 'app_id'])
df_grossing_cleaned_ios = df_ios_new[['date','rank']].merge(df_grossing_ios[['app_id']], left_index = True, right_index = True)
df_grossing_cleaned_ios['category_id'] = 2
df_grossing_cleaned_ios

            date rank      app_id  category_id
0     2020-12-07    1   544007664            2
1     2020-12-07    2   547702041            2
2     2020-12-07    3   431946152            2
3     2020-12-07    4  1446075923            2
4     2020-12-07    5   529479190            2
...          ...  ...         ...          ...
2095  2020-12-01  296  1158877342            2
2096  2020-12-01  297  1500251668            2
2097  2020-12-01  298   324684580            2
2098  2020-12-01  299  1323336775            2
2099  2020-12-01  300  1380831764            2

[2100 rows x 4 columns]

In [20]:
df_grossing_android = pd.DataFrame(df_android_new['grossing'].to_list(), columns = ['app_name', 'publisher', 'app_id'])
df_grossing_cleaned_android = df_android_new[['date','rank']].merge(df_grossing_android[['app_id']], left_index = True, right_index = True)
df_grossing_cleaned_android['category_id'] = 2
df_grossing_cleaned_android

            date rank          app_id  category_id
0     2020-12-07    1  20600005233076            2
1     2020-12-07    2  20600005891187            2
2     2020-12-07    3  20600013866017            2
3     2020-12-07    4  20600009883514            2
4     2020-12-07    5  20600012384481            2
...          ...  ...             ...          ...
2095  2020-12-01  296  20600013307125            2
2096  2020-12-01  297  20600005768252            2
2097  2020-12-01  298  20600007866046            2
2098  2020-12-01  299  20600002192822            2
2099  2020-12-01  300  20600011384975            2

[2100 rows x 4 columns]

In [21]:
df_full_ios = df_free_cleaned_ios.append(df_grossing_cleaned_ios, ignore_index=True)
df_full_ios = df_full_ios.append(df_paid_cleaned_ios, ignore_index=True)
df_full_ios['platform_id'] = 1
df_full_ios

            date rank      app_id  category_id  platform_id
0     2020-12-07    1  1502153059            1            1
1     2020-12-07    2  1351168404            1            1
2     2020-12-07    3   835599320            1            1
3     2020-12-07    4   544007664            1            1
4     2020-12-07    5   546505307            1            1
...          ...  ...         ...          ...          ...
6295  2020-12-01  296  1472184189            3            1
6296  2020-12-01  297   295775656            3            1
6297  2020-12-01  298   362949845            3            1
6298  2020-12-01  299  1443988620            3            1
6299  2020-12-01  300  1352834008            3            1

[6300 rows x 5 columns]

In [22]:
df_full_android = df_free_cleaned_android.append(df_grossing_cleaned_android, ignore_index=True)
df_full_android = df_full_android.append(df_paid_cleaned_android, ignore_index=True)
df_full_android['platform_id'] = 2
df_full_android

            date rank          app_id  category_id  platform_id
0     2020-12-07    1  20600010026980            1            2
1     2020-12-07    2  20600008220049            1            2
2     2020-12-07    3  20600014275149            1            2
3     2020-12-07    4  20600000722620            1            2
4     2020-12-07    5  20600012384481            1            2
...          ...  ...             ...          ...          ...
6295  2020-12-01  296  20600000379168            3            2
6296  2020-12-01  297  20600005921123            3            2
6297  2020-12-01  298  20600011555627            3            2
6298  2020-12-01  299  20600000012915            3            2
6299  2020-12-01  300  20600009199284            3            2

[6300 rows x 5 columns]

In [23]:
df_full = df_full_ios.append(df_full_android, ignore_index = True)
df_full

             date rank          app_id  category_id  platform_id
0      2020-12-07    1      1502153059            1            1
1      2020-12-07    2      1351168404            1            1
2      2020-12-07    3       835599320            1            1
3      2020-12-07    4       544007664            1            1
4      2020-12-07    5       546505307            1            1
...           ...  ...             ...          ...          ...
12595  2020-12-01  296  20600000379168            3            2
12596  2020-12-01  297  20600005921123            3            2
12597  2020-12-01  298  20600011555627            3            2
12598  2020-12-01  299  20600000012915            3            2
12599  2020-12-01  300  20600009199284            3            2

[12600 rows x 5 columns]

In [24]:
platform_dict = {'platform_id':[1,2], 'platform':['iOS','Android']}
df_platform = pd.DataFrame(data = platform_dict)
df_platform

   platform_id platform
0            1      iOS
1            2  Android

In [25]:
cat_dict = {'category_id':[1,2,3],'category':['Free','Grossing','Paid']}
df_cat = pd.DataFrame(data=cat_dict)
df_cat

   category_id  category
0            1      Free
1            2  Grossing
2            3      Paid

In [61]:
os.getenv('db_pass')

'postgres'

In [62]:
###### IMPORT DATA TO SQL ######

# SHOULD MAKE db_pass an environment variable in final version

db_pass = os.getenv('db_pass')
engine = create_engine(f'postgresql://postgres:{db_pass}@localhost:5432/app_rankings')

if sqlalchemy_utils.functions.database_exists(engine.url):
    print(sqlalchemy_utils.functions.database_exists(engine.url))
    pass
else:
    sqlalchemy_utils.functions.create_database(engine.url)

In [63]:
engine

Engine(postgresql://postgres:***@localhost:5432/app_rankings)

In [64]:
# final code should append existing tables, not replace them

df_platform.to_sql('platform',engine, if_exists='replace', index=False)
df_full.to_sql('ranking',engine, if_exists='replace', index=False)
df_publisher.to_sql('publisher',engine, if_exists='replace', index=False)
df_app.to_sql('application', engine, if_exists='replace', index=False)
df_cat.to_sql('category', engine, if_exists='replace', index=False)

In [65]:
#### Sets primary and foreign keys for SQL tables

# Sets primary key for platform table
engine.execute("""
    ALTER TABLE
        platform
    ADD PRIMARY KEY 
        (platform_id);
""");

In [66]:
# Sets primary key for category table
engine.execute("""
    ALTER TABLE
        category
    ADD PRIMARY KEY 
        (category_id);
""");

In [67]:
# Sets primary key for publisher table
engine.execute("""
    ALTER TABLE
        publisher
    ADD PRIMARY KEY 
        (publisher_id);
""");

In [68]:
# Sets primary and foreign keys for application table
engine.execute("""
    ALTER TABLE
        application
    ADD PRIMARY KEY 
        (app_id);
""");

engine.execute("""
    ALTER TABLE
        application
    ADD CONSTRAINT 
        fk_parent_category_id
    FOREIGN KEY
        (category_id) 
    REFERENCES 
        category 
        (category_id);
""");

engine.execute("""
    ALTER TABLE
        application
    ADD CONSTRAINT 
        fk_parent_publisher_id
    FOREIGN KEY
        (publisher_id) 
    REFERENCES 
        publisher 
        (publisher_id);
""");

In [71]:
# Sets foreign keys for ranking table

engine.execute("""
    ALTER TABLE
        ranking
    ADD CONSTRAINT 
        fk_parent_app_id
    FOREIGN KEY
        (app_id) 
    REFERENCES 
        application 
        (app_id);
""");

engine.execute("""
    ALTER TABLE
        ranking
    ADD CONSTRAINT 
        fk_parent_category_id
    FOREIGN KEY
        (category_id) 
    REFERENCES 
        category 
        (category_id);
""");

engine.execute("""
    ALTER TABLE
        ranking
    ADD CONSTRAINT 
        fk_parent_platform_id
    FOREIGN KEY
        (platform_id) 
    REFERENCES 
        platform 
        (platform_id);
""");