In [1]:
# Importing Dependencies
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
from datetime import datetime, timedelta
from pprint import pprint
import time
import os
import numpy as np
from dotenv import load_dotenv
load_dotenv()
import os
import numpy as np
from sqlalchemy import create_engine
import psycopg2

In [4]:
os.getenv('password')

'Soem@ce91719'

In [2]:
user = os.getenv('USER')

password = os.getenv('password')

In [3]:
#Create the browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=True)

try:

    #Visit the website in 'url'
    url = 'https://www.appannie.com/dashboard/home'
    browser.visit(url)

    #Enter login info
    time.sleep(1)
    browser.find_by_name(name = 'username').type(user)
    browser.find_by_css('input')[1].type(password)
    browser.find_by_tag('button').click()

    #########
    def checker(func,go=None):
        #func is a 'is_present' boolean
        for i in range(3):
            if func:
                go
                break
            else:
                browser.reload()
                time.sleep(2)
    ##########

    #Check for presence of 'Top Chart' tab, click tab
    checker((browser.is_element_present_by_text('Top Charts',wait_time=2)),browser.find_by_text('Top Charts').click())

    #Create date range
    today = datetime.now()
    dates = [(today - timedelta(days=i)).strftime("%Y-%m-%d") for i in range(5)]



    #https://www.appannie.com/apps/ios/top-chart?country=US&category=36&device=iphone&date=2020-12-01&feed=All&page_number=0&page_size=500&rank_sorting_type=rank
    #list of dictionaries, each one a different day
    list_of_builds = []

    for moment in dates:
        #get top chart info
        url = f'https://www.appannie.com/apps/ios/top-chart?country=US&category=36&device=iphone&date={moment}&feed=All&page_number=0&page_size=500&rank_sorting_type=rank'
        browser.visit(url)
        time.sleep(5)
        html = browser.html
        soup = BeautifulSoup(html,'html.parser')

        checker(browser.is_element_present_by_css('table'))

        all_trs = soup.table.tbody.find_all('tr')
        build_df = {'Rank':[],'Date': moment,'Free':[],'Paid':[],'Grossing':[]}
        for _ in all_trs:
            current_rank_apps = [elem.text for elem in _.select('a span')]
            
            toss, app_id1, app_id2, app_id3 = [i.get('data-appid') for i in _.find_all('td')]
            
            rank_num = _.span.text
            build_df['Rank'].append((rank_num))
            build_df['Free'].append([current_rank_apps[0],current_rank_apps[1],app_id1])
            build_df['Paid'].append([current_rank_apps[2],current_rank_apps[3],app_id2])
            build_df['Grossing'].append([current_rank_apps[4],current_rank_apps[5],app_id3])

        list_of_builds.append(build_df)

    #concatenate all dataframes
    builds_to_concat = [pd.DataFrame(_).set_index('Date') for _ in list_of_builds]
    sep3_dec1_t500_ios = pd.concat(builds_to_concat)
except Exception as e:
    browser.quit()
    print(e)
finally:
    browser.quit()

In [4]:
#Create the browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=True)

try:

    #Visit the website in 'url'
    url = 'https://www.appannie.com/dashboard/home'
    browser.visit(url)

    #Enter login info
    time.sleep(1)
    browser.find_by_name(name = 'username').type(os.getenv('user'))
    browser.find_by_css('input')[1].type(os.getenv('password'))
    browser.find_by_tag('button').click()

    #########
    def checker(func,go=None):
        #func is a 'is_present' boolean
        for i in range(3):
            if func:
                go
                break
            else:
                browser.reload()
                time.sleep(2)
    ##########

    #Check for presence of 'Top Chart' tab, click tab
    checker((browser.is_element_present_by_text('Top Charts',wait_time=2)),browser.find_by_text('Top Charts').click())

    #Create date range
    today = datetime.now()
    dates = [(today - timedelta(days=i)).strftime("%Y-%m-%d") for i in range(3)]



    #https://www.appannie.com/apps/ios/top-chart?country=US&category=36&device=iphone&date=2020-12-01&feed=All&page_number=0&page_size=500&rank_sorting_type=rank
    #list of dictionaries, each one a different day
    list_of_builds = []

    for moment in dates:
        #get top chart info
        url = f'https://www.appannie.com/apps/google-play/top-chart/?country=US&category=1&device=&date={moment}&feed=All&rank_sorting_type=rank&page_number=0&page_size=500'
        browser.visit(url)
        time.sleep(5)
        html = browser.html
        soup = BeautifulSoup(html,'html.parser')

        checker(browser.is_element_present_by_css('table'))

        all_trs = soup.table.tbody.find_all('tr')
        build_df = {'Rank':[],'Date': moment,'Free':[],'Paid':[],'Grossing':[]}
        for _ in all_trs:
            current_rank_apps = [elem.text for elem in _.select('a span')]
            
            toss, app_id1, app_id2, app_id3, app_id4, app_id5 = [i.get('data-appid') for i in _.find_all('td')]
            
            rank_num = _.span.text
            build_df['Rank'].append((rank_num))
            build_df['Free'].append([current_rank_apps[0],current_rank_apps[1],app_id1])
            build_df['Paid'].append([current_rank_apps[2],current_rank_apps[3],app_id2])
            build_df['Grossing'].append([current_rank_apps[4],current_rank_apps[5],app_id3])

        list_of_builds.append(build_df)

    #concatenate all dataframes
    builds_to_concat = [pd.DataFrame(_).set_index('Date') for _ in list_of_builds]
    sep3_dec1_t500_google_play = pd.concat(builds_to_concat)
except Exception as e:
    browser.quit()
    print(e)
finally:
    browser.quit()

In [6]:
sep3_dec1_t500_ios

,Rank,Free,Paid,Grossing
Date,,,,
2020-12-05,1,"[Hype Simulator, Ulkar Akhundzada, 1502153059]","[Minecraft, Mojang, 479516143]","[YouTube: Watch, Listen, Stream, Google, 54400..."
2020-12-05,2,"[Among Us!, InnerSloth, 1351168404]","[Heads Up! Best Charades game, Warner Bros, 62...","[Tinder - Dating & Make Friends, Match Group, ..."
2020-12-05,3,"[YouTube: Watch, Listen, Stream, Google, 54400...","[Plague Inc., Ndemic Creations, 525818839]","[Roblox, Roblox, 431946152]"
2020-12-05,4,"[TikTok, TikTok Pte Ltd, 835599320]","[Bloons TD 6, Ninja Kiwi, 1118115766]","[Disney+, Disney, 1446075923]"
2020-12-05,5,"[ZOOM Cloud Meetings, Zoom Video Communication...","[Procreate Pocket, Savage Interactive, 916366645]","[Pokémon GO, Niantic, 1094591345]"
...,...,...,...,...
2020-12-01,496,"[Steve - Widget Game, Ivan De Cabo, 1090617661]","[VeinSeek Pro, VeinSeek, 1174536386]","[Small Town Murders: Match 3, Rovio, 1479036032]"
2020-12-01,497,"[Earnin - Get $100, Activehours, 723815926]","[Due - Reminders & Timers, Phocus, 390017969]","[Traffic Puzzle, Huuuge Games, 1471999779]"
2020-12-01,498,"[Fonts Art - Fonts for iPhones, Ascella Mobile...","[System Status Pro: hw monitor, Techet, 401457...","[GoPro, GoPro, 561350520]"
2020-12-01,499,"[Flipgrid., Flipgrid, 756972930]","[MOODA, OLIVESTONE Lab., 1476256748]","[Coffee Meets Bagel Dating App, Coffee Meets B..."
2020-12-01,500,"[DHgate-Online Wholesale Stores, DHgate.com, 9...","[Glory of Generals 3, EasyTech, 1535759278]","[Need for Speed No Limits, Electronic Arts, 88..."

In [5]:
df_ios_new = sep3_dec1_t500_ios.reset_index()
df_android_new = sep3_dec1_t500_google_play.reset_index()
df_ios_new

,Date,Rank,Free,Paid,Grossing
0,2020-12-05,1,"[Hype Simulator, Ulkar Akhundzada, 1502153059]","[Minecraft, Mojang, 479516143]","[YouTube: Watch, Listen, Stream, Google, 54400..."
1,2020-12-05,2,"[Among Us!, InnerSloth, 1351168404]","[Heads Up! Best Charades game, Warner Bros, 62...","[Tinder - Dating & Make Friends, Match Group, ..."
2,2020-12-05,3,"[YouTube: Watch, Listen, Stream, Google, 54400...","[Plague Inc., Ndemic Creations, 525818839]","[Roblox, Roblox, 431946152]"
3,2020-12-05,4,"[TikTok, TikTok Pte Ltd, 835599320]","[Bloons TD 6, Ninja Kiwi, 1118115766]","[Disney+, Disney, 1446075923]"
4,2020-12-05,5,"[ZOOM Cloud Meetings, Zoom Video Communication...","[Procreate Pocket, Savage Interactive, 916366645]","[Pokémon GO, Niantic, 1094591345]"
...,...,...,...,...,...
2495,2020-12-01,496,"[Steve - Widget Game, Ivan De Cabo, 1090617661]","[VeinSeek Pro, VeinSeek, 1174536386]","[Small Town Murders: Match 3, Rovio, 1479036032]"
2496,2020-12-01,497,"[Earnin - Get $100, Activehours, 723815926]","[Due - Reminders & Timers, Phocus, 390017969]","[Traffic Puzzle, Huuuge Games, 1471999779]"
2497,2020-12-01,498,"[Fonts Art - Fonts for iPhones, Ascella Mobile...","[System Status Pro: hw monitor, Techet, 401457...","[GoPro, GoPro, 561350520]"
2498,2020-12-01,499,"[Flipgrid., Flipgrid, 756972930]","[MOODA, OLIVESTONE Lab., 1476256748]","[Coffee Meets Bagel Dating App, Coffee Meets B..."
2499,2020-12-01,500,"[DHgate-Online Wholesale Stores, DHgate.com, 9...","[Glory of Generals 3, EasyTech, 1535759278]","[Need for Speed No Limits, Electronic Arts, 88..."

In [6]:
def check_publisher(element, element_list):
    if element not in element_list:
        element_list.append(element)
        
def check_app(element, cat, element_list, cat_list, lookup_table, pub_id_list, app_id_list):
    if element[0] not in element_list:
        element_list.append(element[0])
        cat_list.append(cat)
        app_id_list.append(element[2])
        pub_id_list.append(int(lookup_table[lookup_table['Publisher_Name'] == element[1]]['Publisher_ID']))

In [8]:
publisher_list = []

for index, row in df_ios_new.iterrows():
    check_publisher(row['Free'][1], publisher_list)
    check_publisher(row['Grossing'][1], publisher_list)
    check_publisher(row['Paid'][1], publisher_list)
   
for index, row in df_android_new.iterrows():
    check_publisher(row['Free'][1], publisher_list)
    check_publisher(row['Grossing'][1], publisher_list)
    check_publisher(row['Paid'][1], publisher_list)

In [9]:
publisher_id = np.arange(1, len(publisher_list)+1)

In [10]:
publisher_list

['Ulkar Akhundzada',
 'Google',
 'Mojang',
 'InnerSloth',
 'Match Group',
 'Warner Bros',
 'Roblox',
 'Ndemic Creations',
 'TikTok Pte Ltd',
 'Disney',
 'Ninja Kiwi',
 'Zoom Video Communications',
 'Niantic',
 'Savage Interactive',
 'Instagram',
 'Pandora',
 'Marmalade',
 'Facebook',
 'King',
 'RobTop',
 'Warner Media',
 'Rockstar Games',
 'Snap',
 'Hulu',
 'HotSchedules',
 'SayGames',
 'BANDAI NAMCO Entertainment',
 'Lightricks',
 'Voodoo',
 'Bumble',
 'True Axis',
 'Playrix',
 'Suture Sound Inc.',
 'Square Inc',
 'Twitch Interactive',
 'BoltCreative',
 'Amazon',
 'ADVA Soft',
 'Netflix',
 '505 Games',
 'Spotify',
 'Activision Publishing',
 'So Far So Good',
 'Supercell',
 'Clickteam',
 'Flipline',
 'Shopify',
 'BIGO',
 'WhatsApp',
 'Moon Active',
 'Domus Technica',
 'Peak',
 'miHoYo',
 'Seekrtech',
 'Garena Online',
 'Terminal Eleven',
 'DoorDash',
 'Tencent',
 '2kit Consulting',
 'PayPal',
 'Giants Software',
 'Zynga',
 'Playtika',
 '2K Games',
 'Walmart',
 'Small Giant Games',
 'Tantsissa',
 'Discord',
 'Chucklefish',
 'Bubblegum Games',
 'Venmo',
 'Playdemic',
 'Runtastic',
 'Apple',
 'Jacquielawson',
 'Twitter',
 'Double Down Interactive',
 'Target',
 'Kwalee',
 'KingsGroup',
 'Fifth Star',
 'Williams Interactive',
 'Fat Cigar Productions',
 'Pinterest',
 'Linkedin',
 'Exploding Kittens',
 'Roku',
 'Big Fish Games',
 'North Pole Command Centre Limited',
 'Life on Air',
 'Plarium',
 'CubeMG',
 'Playtika Santa Monica',
 'EFUN',
 'IGG',
 'Anton Lebed',
 'Dropbox',
 "Raffaele D'Amato",
 'Starz Entertainment',
 'Bole Games',
 'Ellation',
 'Mango Labs',
 'Corsair Components, Inc.',
 'Electronic Arts',
 "McDonald's",
 'Product Madness',
 'Dual Decade',
 'FTY',
 'Crowdstar',
 'Lima Sky',
 'Ifwe',
 'Works Inc',
 'chris rogers',
 'Cross Forward Consulting',
 'Etermax',
 'reddit',
 'AirBeamTV',
 'Shein',
 'IMVU',
 'Zakeh',
 'Amanotes',
 'Firecraft Studios',
 'OfferUp',
 'Scopely',
 'Matt Berg',
 'Bennett Foddy',
 'Uber Technologies',
 'Nexters',
 'Rarevision',
 'Microsoft',
 'Readdle',
 'Pacific-Interactive',
 'Toca Boca',
 'TonalEnergy',
 'SoundCloud',
 'PlayStudios',
 'Bath & Body Works',
 'onXmaps',
 'JindoBlu',
 'Sybo',
 'The Meet Group',
 'VitoTech',
 'Tactile Games',
 'NEOCORTEXT',
 'Yotta Games',
 '44SEVEN MEDIA',
 'Klarna',
 'Nike',
 'Huuuge Games',
 'eBay',
 'FiLMiC',
 'ContextLogic',
 'Aspyr',
 'PeopleFun',
 'Glu',
 'Incpt.Mobis',
 'Popcore',
 'Top Games',
 'Tidal',
 'TimeBaseTech',
 'Epic Systems',
 'iHeartMedia',
 'CloudMosa',
 'Lion Studios',
 'Kabam',
 'Hindsight',
 'Good Job Games',
 'ESPN',
 'Pankaj Goswami Inc',
 'Starbucks',
 'MapMyFitness',
 'IEC Games',
 'Weight Watchers',
 'Humble Bundle',
 'Robinhood',
 'MoonBear',
 'Early Warning',
 'Lilith',
 'Image Line',
 'Ruby Game',
 'CBS Interactive',
 'Sirius Technology',
 'PicsArt',
 'Duolingo',
 'Moment Inc.',
 'Enflick',
 'Calculated',
 'DoubleU',
 'Supersonic',
 'Reworks',
 'IEC',
 'Leyi Network',
 'Ubisoft',
 'Telegram',
 '欢 刘',
 'Kpaw',
 'Audible',
 'SEGA',
 'Fetch Rewards',
 'X.D. Network',
 'Chick-fil-A',
 'USMGames',
 'Elokence',
 'FunPlus',
 'Microblink',
 'NaturalMotion',
 'Coffee Stain',
 'Etsy',
 'Not Doppler',
 'Tiya',
 'Steel Wool Games, Inc.',
 'Loop Games A.S',
 'Vizor',
 'Miniclip',
 'Kentaro Yama',
 'Unico Studio',
 'Topwar Studio',
 'Aniplex',
 'FAYJU',
 'Life360',
 'Flying Development Studio',
 'Ring.com',
 'Jason Loewy',
 'Crazy Labs',
 'BET Networks',
 'Damien Elmes',
 'Lyft',
 'Cogitap',
 'Jam City',
 'Infinity Pocket',
 'Camel Games',
 'Funimation',
 'Robot Gentleman',
 'BigWinePot',
 'Zillow',
 'Gram Games',
 'Spike Chunsoft',
 'Tubi',
 'Episode Interactive',
 'TangoMe',
 'Devolver Digital',
 'Grubhub',
 'Smule',
 'Poshmark',
 'Apalon',
 'Wolfram Alpha',
 'Mageeks Apps & Games',
 'Azur Interactive Games',
 'Calm',
 'Ace Games',
 'Bennett Racing Simulations',
 'Taco Bell',
 'BPMobile',
 'Piksoft',
 'JPMorgan Chase',
 'Twelve APP',
 'Waze',
 'KS Mobile',
 'Moonton',
 'Asmodee',
 'Particle Media',
 'Long Tech Network',
 'Monash University',
 'Com2uS',
 'Codebrew Games',
 'Credit Karma',
 'Supertreat',
 'Quantum Four Inc',
 'Musi',
 'Kasper Systems',
 'Tefinkom & CO',
 'Game Show Network',
 'Core Coders',
 'Yelp',
 'K Solution',
 'Ten Square Games',
 'in a nutshell - kurzgesagt GmbH',
 'Sony',
 'Alexey Antropov',
 'Pixelberry',
 'Funn Media',
 'Capital One',
 'Grindr',
 'FOCUS HOME INTERACTIVE',
 'NAVER',
 'Luma Touch',
 'TuneIn',
 'LW Brands',
 'Bank of America',
 'Zoosk',
 'JoyBits',
 'Bending Spoons',
 'Plug In Digital',
 'Shazam Entertainment',
 'Fonts LLC',
 'Seriously Digital Entertainment',
 'Afterpay',
 'Forks Over Knives',
 'Dreame',
 'Peloton',
 'MobiVio',
 "Domino's Pizza",
 'Storm8',
 'Clafou Ltd',
 'Verizon Wireless',
 'Dragonplay',
 'Florian Schimanke',
 'MM Apps',
 'DH Games',
 'GingerLabs',
 'Big Run Studios',
 'Pantaya',
 'RORTOS',
 'Super Lucky Casino',
 'Bowen Games',
 '1Debit',
 'Madness Limited',
 'e-Courier',
 'Walgreens',
 'Netmarble',
 'interealtime',
 'Mattel163',
 'Rovio',
 'URBAN EDGE DESIGN STUDIO, L. L. C',
 'Peacock TV',
 'David Desrochers',
 'Indeed.com',
 'Epic Action',
 'Bitstrips',
 'ChineseAll',
 'Andreas Illiger',
 'Nexever Pty Ltd',
 'Flo Health',
 'Cultured Code',
 '37games',
 'Instacart',
 'INKHUNTER',
 'Jedasoft',
 'PRMP DIGITAL LIMITED',
 'Trail of Bits',
 'Fitbit',
 'Mathway',
 'iInnovate',
 'Playdigious',
 'Canva',
 'Nekki',
 'Appxy',
 'Foot Locker',
 'Rollic',
 'The Cowboy Channel LLC',
 'CATEATER',
 'Murka',
 'Wells Fargo',
 'Visual Supply',
 'Team17',
 'Wildlife Studios',
 'Rick Meyers',
 'Best Buy',
 'TelTech',
 'TextMe',
 '7th Beat Games',
 'Nintendo',
 'Will Townsend',
 'Matchingham Games',
 'Samer Azzam',
 'Comcast',
 'Headspace',
 'Raw Fury',
 'LateNiteSoft',
 'Chess.com',
 'Cricut',
 'Grailr',
 "Wendy's",
 'Pixonic',
 'Owen Stanley',
 'Mercari',
 'Mechanist',
 'Finish Line',
 'MYTONA',
 'LiveATC',
 "Dunkin' Brands",
 'Media Social',
 'Ironhide',
 'Yahoo!',
 'Samfinaco',
 'ustwo',
 'Clipwire',
 'Anuken',
 'Word Game Studio',
 'Playdots',
 'Informed Publishing',
 'Quadpay',
 'KONAMI',
 'Topanga Technologies',
 'Shutterfly',
 'DAZN',
 'ASCCP',
 'Eyewind',
 'Intuit',
 'Jadon Barnes',
 'Bash Gaming',
 'Newell Media',
 'Cocologics',
 'Word Find',
 'MarineTraffic',
 'KAYAC',
 'Crunchy Bagel',
 'MikaMobile',
 'Popshow',
 'Sportsman Tracker',
 'Innovative Developers',
 'Philo',
 'Frosch',
 'ByteDance',
 'China Literature',
 'ForceReadiness.com',
 'AT&T',
 'Meitu',
 'IPACS',
 'Baron App',
 'Samsung Electronics',
 'Wooga',
 '玲玲 吴',
 'Kahoot!',
 'Kayla Itsines',
 'Deftun',
 'Hewlett-Packard',
 'Clover Inc.',
 'GOAT',
 'Avid.ly',
 'Nickelodeon',
 'Autonoma',
 'FutureMind',
 'Antares Audio Technology',
 'Postmates',
 'C & Z Tech',
 'VLMedia',
 'Life.Church',
 'Badoo',
 'David Wehle',
 'Lowtech Studios',
 'Adobe',
 'Luka',
 'NetEase',
 'Flo Living',
 'ADP LLC',
 'Viki',
 'SQUARE ENIX',
 'StockX',
 'InShot Inc',
 'TeamSpeak',
 'Brainly',
 'Instasize',
 'GPSNavX',
 'Alibaba',
 'Luni',
 'MLB Advanced Media',
 'Imangi',
 'Frontier Design',
 'PhotoPills',
 'T-Mobile US',
 'PeakFinder',
 'TinyByte Apps',
 'Showtime Networks',
 'Joey Drew',
 'Donut Games',
 'Chegg',
 'Allstays',
 'Ultimate Guitar',
 'Atari',
 'IntSig',
 '8SEC',
 'Melesta',
 'left brain right brain',
 'Pinger',
 'Yalla',
 'DataRiver',
 'Airbnb',
 'Age of Learning',
 'My Town',
 'Hyperconnect',
 'Dan Russell-Pinson',
 'Skype',
 'Alexander Nowak',
 'InnoGames',
 'Lukasz Jakowski',
 'Siqi Shen',
 'Gameloft',
 'Kohl’s',
 'Oceanhouse Media',
 'Feral Interactive',
 'Audiomack',
 'Avcr',
 'Snowman',
 'Auxbrain',
 'nWay',
 'TMSOFT',
 'YouNow',
 'Max Shaw',
 'Hily',
 'Andreas Kambanis',
 'Upside Services',
 'ForTheLoss',
 'Macys',
 'Lockwood Publishing',
 'Jelly Button',
 'OCTech',
 'musictheory',
 'Cross Utility Ltd',
 'Dianjinshi Information Technology Co., Ltd',
 'Netzinkubator Software',
 'Dow Jones',
 'Babbel',
 'BeFunky',
 'CyberGhost',
 'YOOZOO Games',
 'Optime Software',
 'Mobile Deluxe',
 'Special Gamez',
 'Epic War',
 'AnchorFree',
 'Seacloud',
 'Hoop Live s.r.o.',
 'Paper Boat',
 'Side Labs LLC',
 'Social Point',
 'Bret Hardman',
 'Slots Limited',
 'Snoozle Limited',
 'Nanobit',
 'Digital Dowsing',
 'Hitcents',
 'X-Flow',
 'Candywriter',
 'Creste',
 'SIRIUS XM Radio',
 'Express VPN',
 'Mood Meter',
 'Dollar General',
 'OBRIO LIMITED',
 'Candy Rufus',
 'Free photo video editor and picture movie editing',
 'Base Velocity',
 'Comunix',
 'Tinrocket',
 'ExamFX',
 'Pizza Hut',
 'Giant Network',
 'Nextdoor',
 'Acid Remap',
 'NY Times',
 'Crossfire Designs',
 'Wattpad',
 'GoodRx',
 'Affirm',
 'Contents First',
 'Prequel',
 'Glority',
 'Serendi LTD',
 'UGroupMedia',
 'ME2ZEN',
 'Igor Borisov',
 'Co-Star Astrology Society',
 'ULTA',
 'Wayfair',
 'PurpleKiwii',
 'Rego apps',
 'Ancestry.com',
 'Cisco',
 'Ivan De Cabo',
 'TapMediaLTD',
 'BetterMe',
 'Pixelmator Team',
 'Ilyon Dynamics',
 'XtraMath',
 'The Home Depot',
 'Xiaoyi',
 'CHG Developments',
 'Fengniao Yufei',
 'Limmer',
 'Maxim Gapchenko',
 'Route App',
 'Simulation Curriculum',
 'Aviagames',
 'GoodNovel',
 'Gamesoul Studio',
 'Charter Communications',
 'Tap4Fun',
 'Klei Entertainment',
 'Rakuten Ebates',
 '89Trillion',
 'Last Day of Work',
 'Matis',
 'Beach Bum',
 'Volcano Force',
 'CAPCOM',
 'BURGER KING',
 'Udemy',
 'Daniel Gil',
 'Ibotta',
 'Dry Cactus',
 'Epic Creations',
 'Joypac',
 'Archosaur Games',
 'Ringtones Ltd',
 'Bazaart',
 'Elf on the Shelf',
 'Mobile Jump',
 'Defiant Development',
 'UPS',
 'Radish',
 'Jonathan Howell',
 "Lowe's",
 'Primate Labs',
 'The Weather Company',
 'GameChanger Media',
 'KillHouse Games',
 'Experian',
 'FitNow',
 'Limbua',
 'Kik',
 'Alexey Bogdanov',
 'Teach Monster Games',
 'Coinbase',
 'Avid Life Media',
 'MediaVibe',
 'Zenjoy',
 'Bethesda',
 'Pocket Gems',
 'Zardoz',
 'Treastone',
 'DeusCraft',
 'Betternet',
 'TechSmith',
 'Madbox',
 'LOOP LEAD CONSULTING PC',
 'HeadUpGames',
 'Mediocre',
 'Popeyes Louisiana Kitchen',
 'Duo Security',
 'Skout',
 'Marek Bereza',
 'Wargaming.net',
 'Chris J Ward',
 'Wzp Solutions',
 'wenpeng zeng',
 'Filterra',
 'Elestorm Game',
 'Workman Consulting',
 'Chipotle Mexican Grill',
 'Real Estate Portal USA',
 'Nelson Media',
 'Fireproof Games',
 'Habby',
 "D'Adamo Personalized Nutrition",
 'MZ',
 'iUniform',
 'WMP',
 'KamaGames',
 'Kristian Stensoenes',
 'Nathaniel Eliason',
 'Cardinal Blue',
 'Sporcle',
 'Casetagram',
 'Dil Mil',
 'Gammon Applications',
 'CVS Pharmacy',
 'FaceApp',
 'Cartoon Network',
 'Little Caesars',
 'Symantec',
 'GEICO',
 'Bossa',
 'Subway',
 'Glitche',
 'Juxta',
 'Code Organa',
 'Playgendary',
 'Strava',
 'Wired Betterment',
 'Fulvio Scichilone',
 'IKEA',
 'Kefir',
 'Planet Fitness',
 'Eden Software Limited',
 'Hibbett Sports',
 'Mobee',
 'Reliance Big Entertainment',
 'MoFunZone',
 'Jundroo',
 'Groupon',
 'Fashion Nova',
 'TinyLab',
 'DuckDuckGo',
 'A.L. Amazing',
 'Bickster Studios',
 'craigslist.org',
 'Elex Technology',
 'Wales Interactive Ltd.',
 'Dynamic Slash LLC',
 'D3Publisher',
 'Sulake',
 'Civi Corp',
 'TapNice',
 'Grammarly',
 'iParty',
 'Kaigan Games OÜ',
 'PixelGun Company',
 'Yoteware, LLC',
 'Epocrates',
 'ZigZaGame',
 'Progressive Insurance',
 'Yew Technology',
 'Tatem',
 'Novamanga Technology Co.,Limited',
 'Costco Wholesale',
 'JoyTunes',
 'Sunday.gg',
 'Jagex Games',
 'David Zemsky',
 'PocketzWorld',
 'EasyTech',
 'Ascella Mobile',
 'CyberStep',
 'ozPDA',
 'Elevate Labs',
 'Luis Medel',
 'Propel',
 'Ad Hoc Labs',
 'Aerfish',
 'Ruby Labs',
 'Ludia',
 'Cascode',
 'Cuddle Live',
 'KeepSafe',
 'Entertainment One',
 'DeNA',
 'James M Kempema MD PA',
 'Guglielmo Faglioni',
 'KumuMedia',
 'Noctua',
 'Instructure',
 'Good Smile Company',
 'Omar Mody',
 'Modo',
 'Halfbrick',
 'Chewy',
 'OneSoft',
 'vishnu rao',
 'TV Cast',
 'MICO',
 "Victoria's Secret",
 'MODUL',
 'Magisto',
 'ali feili',
 'Color Switch',
 'Redemption Games',
 'LIME TURTLE',
 'Social Impact',
 'HappyCow',
 'Suji Games',
 'Boke',
 'omz',
 'Abundant Health',
 'iRobot Corporation',
 'Bagelcode',
 'ramii Moghrabi',
 'Depop',
 'Blizzard Entertainment',
 'Thi Thanh Binh',
 'Parler',
 'Techet',
 'Pham Hang',
 'Honey Science',
 'FishBrain',
 'Evil Studios Limited',
 'LisbonLabs',
 'Annapurna',
 'Yso',
 'Smilegate Megaport',
 'Sonico',
 'Dmac Mobile Developments, LLC',
 'Gap',
 'Francisco Alcala',
 'AppHeroes',
 'Lyam Brothers',
 'Tapas',
 'Apostolos Samaras',
 'Kooapps',
 'American Broadcasting Company ABC',
 'Technimo',
 'DVloper',
 'Dick‘s Sporting Goods',
 'PlayQ',
 'Signal Stuff',
 'Monkey Taps',
 'KLab',
 'Brian Rabe',
 'StarMaker',
 'Marko Radakovic',
 'Pluto.tv',
 'Discover Financial Services',
 'Fusebox',
 'Rayark',
 'Booking.com',
 'Fitbod',
 'Swing by Swing Golf',
 'Panteon',
 'Frontier Developments',
 'Game Focus Network',
 'Vince Internet Company Enterprises LLC',
 'Atom Applications',
 'Emergent Studios',
 '煌 张',
 'Nordcurrent',
 'LiveBird',
 'FedEx',
 'Sarah Stevenson',
 'Blinks',
 'Marco Wenisch',
 'Kraftwerk 9',
 'Univision Communications Inc',
 'Visible Body',
 'Finco Services',
 'Lucas Yamashita',
 'Stash Invest',
 'Zhiji Network',
 'Fool s Dog',
 'Newsmax Media',
 'Scribd',
 'Zedge',
 'Callpod',
 'Sydvesti Oy',
 'Street Barn Ltd',
 'Babil Games',
 'Nexvio',
 'Lucky Kat Studios',
 'High5Games',
 'FDG Entertainment',
 'Screenzilla',
 'LET Software',
 'Almus',
 'Amirali Rajan',
 'Chuang Cool',
 'MotionOne',
 'Quizlet',
 'RMR Labz',
 'NATURE INTERNATIONAL TRADING',
 'Coolors',
 'Easy Tiger',
 'Citigroup',
 'Oasis Games',
 'BROKEN RULES',
 'PricklyFish',
 'Immedia Semiconductor',
 'N3TWORK',
 'Performix',
 'Crazy4Profession',
 'Standard Media',
 'sp0n',
 'Cupid PLC',
 'Aviation Supplies Academics',
 'LiftApp',
 'Liber Group',
 'mixtvision digital',
 'NFHS Network',
 'Noah Gilmore',
 'Alpha Exploration Co.',
 'PBS KIDS',
 'Joya Communications',
 'David Quiles',
 'ActiveNetwork',
 'Marmelapp',
 'Greenheart Games',
 'Mega Limited',
 'Bytro Labs',
 'AstroGraph Software',
 'Media Mushroom',
 'MarkApp',
 'Rosetta Stone',
 'United Airlines',
 'Astragon',
 'Bernhard Hering',
 'Sonos',
 'Kidapp.ru',
 'Tue Nguyen Minh',
 'Belk',
 'A Thinking Ape',
 'LaCuerda',
 'ibis',
 'Over',
 'BandLab',
 'Tone It Up',
 'Josh Williams',
 'REMIND101',
 'Flysher',
 'BookMobile',
 'Metamoki',
 'Onemt',
 'FullyRaw',
 'Immersity Tech',
 'KK Keyboard Studio',
 'Carson Lougheed',
 'Xigma Games',
 'BitMango',
 'Pray',
 'First Class Media',
 'iPoseidon',
 'Day Development',
 'Luminous Labs',
 'Hummingbird Games',
 'MindWareToys',
 'Mapgears',
 'Flipgrid',
 'Gluten Free Games',
 'Perry Street',
 'Men Who Wear Many Hats',
 'LearnWithHomer',
 'EtherGaming',
 'Premiere Radio Networks',
 'Frogmind',
 'GoPro',
 'TapNation',
 'Cole Herrmann',
 'MasterClass',
 'DIGITAL MINDS MARKETING SL',
 'eHarmony',
 'NBA',
 'DailyInnovation',
 'Spicerack',
 '11 bit studios',
 'Acorns',
 'Lingokids',
 'GyPSy Guide',
 'Open Planet Software',
 'Funnii',
 'WGT',
 'Brownmonster',
 'Hopper',
 'Candivore',
 'We Are Empire PTY LTD',
 'Green Panda',
 'FIXD',
 'Nomad Innovations, LLC',
 'Tether',
 'Gigantic',
 'Halcyon Products',
 'EVOLLY',
 'The Athletic',
 'Dr. Panda',
 'Quotient Technology',
 'Purple Ocean Psychic',
 'Azai Ryker',
 'Kroger',
 'LILAMA 45.3 JOIN STOCK COMPANY',
 'DWANGO',
 'SNK',
 'Merkury Innovations',
 'Invoice2go',
 'SUPERBOX. Inc',
 'HomeAway',
 'Western Union',
 'Kolibri Games',
 'Riley Cillian',
 'DMorneault',
 'Outfit7',
 'Final Draft Inc',
 'American Airlines',
 'Washington Post',
 'United States Postal Service',
 'Saddiq Rahim',
 'UnitedMasters',
 'Maxime Ruys',
 'Martin Man',
 "Papa John's",
 'Christophe Théron',
 'DK Pictures',
 'Jacob Cavin',
 'GlassifyMe',
 'Taplistic',
 'Gameberry',
 'MyScript',
 'Duoyi',
 'Breethe',
 'Canon',
 'Adviqo Technology',
 'Small Beautiful',
 '3D4Medical',
 'Wynn Social',
 'Codigames',
 'Thinklean',
 'Aqreadd studios',
 'Illumix',
 'PONOS',
 'Feit Electric',
 'Triple Sevens',
 'AlhoGames',
 '2XL Games',
 'FEINHEIT',
 'Andres Canella',
 ...]

In [11]:
df_publisher = pd.DataFrame(zip(publisher_id, publisher_list), columns=['Publisher_ID','Publisher_Name'])
df_publisher

      Publisher_ID      Publisher_Name
0                1    Ulkar Akhundzada
1                2              Google
2                3              Mojang
3                4          InnerSloth
4                5         Match Group
...            ...                 ...
1265          1266    Influence Mobile
1266          1267  Tiny Solutions LLC
1267          1268                 NLL
1268          1269         FifthSource
1269          1270       playducky.com

[1270 rows x 2 columns]

In [12]:
app_list = []
cat_list = []
pub_id = []
app_id = []

for index, row in df_ios_new.iterrows():
    # If the app is not in the list yet, insert it into the list and insert the category on the cat_list: 1(Free), 2(Grossing), 3(Paid)
    check_app(row['Free'], 1, app_list, cat_list, df_publisher, pub_id, app_id)
    check_app(row['Grossing'], 2, app_list, cat_list, df_publisher, pub_id, app_id)
    check_app(row['Paid'], 3, app_list, cat_list, df_publisher, pub_id, app_id)
    
for index, row in df_android_new.iterrows():
    # If the app is not in the list yet, insert it into the list and insert the category on the cat_list: 1(Free), 2(Grossing), 3(Paid)
    check_app(row['Free'], 1, app_list, cat_list, df_publisher, pub_id, app_id)
    check_app(row['Grossing'], 2, app_list, cat_list, df_publisher, pub_id, app_id)
    check_app(row['Paid'], 3, app_list, cat_list, df_publisher, pub_id, app_id)

In [13]:
df_app = pd.DataFrame(zip(app_id, app_list, cat_list, pub_id), columns=['App_ID','App_Name','Category','Publisher_ID'])
df_app

,App_ID,App_Name,Category,Publisher_ID
0,1502153059,Hype Simulator,1,1
1,544007664,"YouTube: Watch, Listen, Stream",2,2
2,479516143,Minecraft,3,3
3,1351168404,Among Us!,1,4
4,547702041,Tinder - Dating & Make Friends,2,5
...,...,...,...,...
1900,20600001907042,BlackPlayer EX Music Player,3,1269
1901,20600003684930,Kingdom Rush Origins - Tower Defense Game,3,383
1902,20600006654608,Army Men Strike - Military Strategy Simulator,2,595
1903,20600014024312,Mr. Slice,1,1270
1904,20600013030066,My Talking Tom Friends,1,966

In [15]:
df_free_ios = pd.DataFrame(df_ios_new['Free'].to_list(), columns = ['App_Name', 'Publisher', 'App_ID'])
df_free_cleaned_ios = df_ios_new[['Date','Rank']].merge(df_free_ios[['App_ID']], left_index = True, right_index = True)
df_free_cleaned_ios

            Date Rank      App_ID
0     2020-12-05    1  1502153059
1     2020-12-05    2  1351168404
2     2020-12-05    3   544007664
3     2020-12-05    4   835599320
4     2020-12-05    5   546505307
...          ...  ...         ...
2495  2020-12-01  496  1090617661
2496  2020-12-01  497   723815926
2497  2020-12-01  498  1480383173
2498  2020-12-01  499   756972930
2499  2020-12-01  500   905869418

[2500 rows x 3 columns]

In [16]:
df_free_android = pd.DataFrame(df_android_new['Free'].to_list(), columns = ['App_Name', 'Publisher', 'App_ID'])
df_free_cleaned_android = df_android_new[['Date','Rank']].merge(df_free_android[['App_ID']], left_index = True, right_index = True)
df_free_cleaned_android

           Date Rank          App_ID
0    2020-12-05    1  20600010026980
1    2020-12-05    2  20600000722620
2    2020-12-05    3  20600008220049
3    2020-12-05    4  20600013967390
4    2020-12-05    5  20600012384481
..          ...  ...             ...
295  2020-12-03   96  20600014024312
296  2020-12-03   97  20600005430359
297  2020-12-03   98  20600014203317
298  2020-12-03   99  20600003703747
299  2020-12-03  100  20600013030066

[300 rows x 3 columns]

In [17]:
df_paid_ios = pd.DataFrame(df_ios_new['Paid'].to_list(), columns = ['App_Name', 'Publisher', 'App_ID'])
df_paid_cleaned_ios = df_ios_new[['Date','Rank']].merge(df_paid_ios[['App_ID']], left_index = True, right_index = True)
df_paid_cleaned_ios

            Date Rank      App_ID
0     2020-12-05    1   479516143
1     2020-12-05    2   623592465
2     2020-12-05    3   525818839
3     2020-12-05    4  1118115766
4     2020-12-05    5   916366645
...          ...  ...         ...
2495  2020-12-01  496  1174536386
2496  2020-12-01  497   390017969
2497  2020-12-01  498   401457165
2498  2020-12-01  499  1476256748
2499  2020-12-01  500  1535759278

[2500 rows x 3 columns]

In [18]:
df_paid_android = pd.DataFrame(df_android_new['Paid'].to_list(), columns = ['App_Name', 'Publisher', 'App_ID'])
df_paid_cleaned_android = df_android_new[['Date','Rank']].merge(df_paid_android[['App_ID']], left_index = True, right_index = True)
df_paid_cleaned_android

           Date Rank          App_ID
0    2020-12-05    1  20600000000768
1    2020-12-05    2  20600012452870
2    2020-12-05    3  20600009916650
3    2020-12-05    4  20600013538453
4    2020-12-05    5  20600011381958
..          ...  ...             ...
295  2020-12-03   96  20600006230092
296  2020-12-03   97  20600013362880
297  2020-12-03   98  20600000581249
298  2020-12-03   99  20600010123575
299  2020-12-03  100  20600013227500

[300 rows x 3 columns]

In [19]:
df_grossing_ios = pd.DataFrame(df_ios_new['Grossing'].to_list(), columns = ['App_Name', 'Publisher', 'App_ID'])
df_grossing_cleaned_ios = df_ios_new[['Date','Rank']].merge(df_grossing_ios[['App_ID']], left_index = True, right_index = True)
df_grossing_cleaned_ios

            Date Rank      App_ID
0     2020-12-05    1   544007664
1     2020-12-05    2   547702041
2     2020-12-05    3   431946152
3     2020-12-05    4  1446075923
4     2020-12-05    5  1094591345
...          ...  ...         ...
2495  2020-12-01  496  1479036032
2496  2020-12-01  497  1471999779
2497  2020-12-01  498   561350520
2498  2020-12-01  499   630119301
2499  2020-12-01  500   883393043

[2500 rows x 3 columns]

In [20]:
df_grossing_android = pd.DataFrame(df_android_new['Grossing'].to_list(), columns = ['App_Name', 'Publisher', 'App_ID'])
df_grossing_cleaned_android = df_android_new[['Date','Rank']].merge(df_grossing_android[['App_ID']], left_index = True, right_index = True)
df_grossing_cleaned_android

           Date Rank          App_ID
0    2020-12-05    1  20600005233076
1    2020-12-05    2  20600005891187
2    2020-12-05    3  20600013866017
3    2020-12-05    4  20600009883514
4    2020-12-05    5  20600003686537
..          ...  ...             ...
295  2020-12-03   96  20600011532329
296  2020-12-03   97  20600004398002
297  2020-12-03   98  20600000601114
298  2020-12-03   99  20600003982687
299  2020-12-03  100  20600004552886

[300 rows x 3 columns]

In [23]:
df_full_ios = df_free_cleaned_ios.append(df_grossing_cleaned_ios, ignore_index=True)
df_full_ios = df_full_ios.append(df_paid_cleaned_ios, ignore_index=True)
df_full_ios['Platform_ID'] = 1
df_full_ios

            Date Rank      App_ID  Platform_ID
0     2020-12-05    1  1502153059            1
1     2020-12-05    2  1351168404            1
2     2020-12-05    3   544007664            1
3     2020-12-05    4   835599320            1
4     2020-12-05    5   546505307            1
...          ...  ...         ...          ...
7495  2020-12-01  496  1174536386            1
7496  2020-12-01  497   390017969            1
7497  2020-12-01  498   401457165            1
7498  2020-12-01  499  1476256748            1
7499  2020-12-01  500  1535759278            1

[7500 rows x 4 columns]

In [21]:
df_full_android = df_free_cleaned_android.append(df_grossing_cleaned_android, ignore_index=True)
df_full_android = df_full_android.append(df_paid_cleaned_android, ignore_index=True)
df_full_android['Platform_ID'] = 2
df_full_android

           Date Rank          App_ID  Platform_ID
0    2020-12-05    1  20600010026980            2
1    2020-12-05    2  20600000722620            2
2    2020-12-05    3  20600008220049            2
3    2020-12-05    4  20600013967390            2
4    2020-12-05    5  20600012384481            2
..          ...  ...             ...          ...
895  2020-12-03   96  20600006230092            2
896  2020-12-03   97  20600013362880            2
897  2020-12-03   98  20600000581249            2
898  2020-12-03   99  20600010123575            2
899  2020-12-03  100  20600013227500            2

[900 rows x 4 columns]

In [24]:
df_full = df_full_ios.append(df_full_android, ignore_index = True)
df_full

            Date Rank          App_ID  Platform_ID
0     2020-12-05    1      1502153059            1
1     2020-12-05    2      1351168404            1
2     2020-12-05    3       544007664            1
3     2020-12-05    4       835599320            1
4     2020-12-05    5       546505307            1
...          ...  ...             ...          ...
8395  2020-12-03   96  20600006230092            2
8396  2020-12-03   97  20600013362880            2
8397  2020-12-03   98  20600000581249            2
8398  2020-12-03   99  20600010123575            2
8399  2020-12-03  100  20600013227500            2

[8400 rows x 4 columns]

In [25]:
platform_dict = {'Platform_ID':[1,2], 'Platform':['iOS','Android']}
df_platform = pd.DataFrame(data = platform_dict)
df_platform

   Platform_ID Platform
0            1      iOS
1            2  Android

In [31]:
cat_dict = {'Category_ID':[1,2,3],'Category':['Free','Grossing','Paid']}
df_cat = pd.DataFrame(data=cat_dict)
df_cat

   Category_ID  Category
0            1      Free
1            2  Grossing
2            3      Paid

In [27]:
db_pass = 'YOUR PASSWORD!'
#establishing the connection
conn = psycopg2.connect(
   database="postgres", user='postgres', password=db_pass, host='127.0.0.1', port= '5432'
)
conn.autocommit = True
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Preparing query to create a database
sql = '''CREATE database app_rankings''';
#Creating a database
cursor.execute(sql)
print("Database created successfully........")
#Closing the connection
conn.close()

Database created successfully........

In [27]:


engine = create_engine(f'postgresql://postgres:{db_pass}@localhost:5432/app_rankings')

In [26]:
engine

Engine(postgresql://postgres:***@localhost:5432/mydatabase)

In [29]:
df_platform.to_sql('Platform',engine, index=False)
df_full.to_sql('Ranking',engine, index=False)
df_publisher.to_sql('Publisher',engine, index=False)
df_app.to_sql('Application', engine, index=False)
df_cat.to_sql('Category', engine, index=False)