In [36]:
# Importing Dependencies

from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
from datetime import datetime, timedelta
from pprint import pprint
import time
import os
import numpy as np
from dotenv import load_dotenv
load_dotenv()
import os
import numpy as np
from sqlalchemy import create_engine
import psycopg2
import traceback
import sqlalchemy_utils

In [2]:
os.getenv('password')

'Winter2020!'

In [3]:
user = os.getenv('USER')

password = os.getenv('password')

In [4]:
#Create the browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=True)

try:

    #Visit the website in 'url'
    url = 'https://www.appannie.com/dashboard/home'
    browser.visit(url)

    #Enter login info
    time.sleep(1)
    browser.find_by_name(name = 'username').type(user)
    browser.find_by_css('input')[1].type(password)
    browser.find_by_tag('button').click()

    #########
    def checker(func,go=None):
        #func is a 'is_present' boolean
        for i in range(3):
            if func:
                go
                break
            else:
                browser.reload()
                time.sleep(2)
    ##########

    #Check for presence of 'Top Chart' tab, click tab
    checker((browser.is_element_present_by_text('Top Charts',wait_time=2)),browser.find_by_text('Top Charts').click())

    #Create date range
    today = datetime.now()
    dates = [(today - timedelta(days=i)).strftime("%Y-%m-%d") for i in range(2)]



    #https://www.appannie.com/apps/ios/top-chart?country=US&category=36&device=iphone&date=2020-12-01&feed=All&page_number=0&page_size=500&rank_sorting_type=rank
    #list of dictionaries, each one a different day
    list_of_builds = []

    for moment in dates:
        #get top chart info
        url = f'https://www.appannie.com/apps/ios/top-chart?country=US&category=36&device=iphone&date={moment}&feed=All&page_number=0&page_size=300&rank_sorting_type=rank'
        browser.visit(url)
        time.sleep(5)
        html = browser.html
        soup = BeautifulSoup(html,'html.parser')

        checker(browser.is_element_present_by_css('table'))

        all_trs = soup.table.tbody.find_all('tr')
        build_df = {'rank':[],'date': moment,'free':[],'paid':[],'grossing':[]}
        for _ in all_trs:
            current_rank_apps = [elem.text for elem in _.select('a span')]
            
            toss, app_id1, app_id2, app_id3 = [i.get('data-appid') for i in _.find_all('td')]
            
            rank_num = _.span.text
            build_df['rank'].append((rank_num))
            build_df['free'].append([current_rank_apps[0],current_rank_apps[1],app_id1])
            build_df['paid'].append([current_rank_apps[2],current_rank_apps[3],app_id2])
            build_df['grossing'].append([current_rank_apps[4],current_rank_apps[5],app_id3])

        list_of_builds.append(build_df)

    #concatenate all dataframes
    builds_to_concat = [pd.DataFrame(_).set_index('date') for _ in list_of_builds]
    sep3_dec1_t500_ios = pd.concat(builds_to_concat)
except Exception as e:
    browser.quit()
    print(e)
    traceback.print_exc()
finally:
    browser.quit()

In [11]:
#Create the browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=True)

try:

    #Visit the website in 'url'
    url = 'https://www.appannie.com/dashboard/home'
    browser.visit(url)

    #Enter login info
    time.sleep(1)
    browser.find_by_name(name = 'username').type(os.getenv('user'))
    browser.find_by_css('input')[1].type(os.getenv('password'))
    browser.find_by_tag('button').click()

    #########
    def checker(func,go=None):
        #func is a 'is_present' boolean
        for i in range(3):
            if func:
                go
                break
            else:
                browser.reload()
                time.sleep(2)
    ##########

    #Check for presence of 'Top Chart' tab, click tab
    checker((browser.is_element_present_by_text('Top Charts',wait_time=5)),browser.find_by_text('Top Charts').click())

    #Create date range
    today = datetime.now()
    dates = [(today - timedelta(days=i)).strftime("%Y-%m-%d") for i in range(3)]



    #https://www.appannie.com/apps/ios/top-chart?country=US&category=36&device=iphone&date=2020-12-01&feed=All&page_number=0&page_size=500&rank_sorting_type=rank
    #list of dictionaries, each one a different day
    list_of_builds = []

    for moment in dates:
        #get top chart info
        url = f'https://www.appannie.com/apps/google-play/top-chart/?country=US&category=1&device=&date={moment}&feed=All&rank_sorting_type=rank&page_number=0&page_size=300'
        browser.visit(url)
        time.sleep(5)
        html = browser.html
        soup = BeautifulSoup(html,'html.parser')

        checker(browser.is_element_present_by_css('table'))

        all_trs = soup.table.tbody.find_all('tr')
        build_df = {'rank':[],'date': moment,'free':[],'paid':[],'grossing':[]}
        for _ in all_trs:
            current_rank_apps = [elem.text for elem in _.select('a span')]
            toss, app_id1, app_id2, app_id3, app_id4, app_id5 = [i.get('data-appid') for i in _.find_all('td')]
            
            rank_num = _.span.text
            build_df['rank'].append((rank_num))
            build_df['free'].append([current_rank_apps[0],current_rank_apps[1],app_id1])
            build_df['paid'].append([current_rank_apps[2],current_rank_apps[3],app_id2])
            build_df['grossing'].append([current_rank_apps[4],current_rank_apps[5],app_id3])

        list_of_builds.append(build_df)

    #concatenate all dataframes
    builds_to_concat = [pd.DataFrame(_).set_index('date') for _ in list_of_builds]
    sep3_dec1_t500_google_play = pd.concat(builds_to_concat)
except Exception as e:
    browser.quit()
    print(e)
    traceback.print_exc()
finally:
    browser.quit()

In [12]:
sep3_dec1_t500_ios

,rank,free,paid,grossing
date,,,,
2020-12-06,1,"[Hype Simulator, Ulkar Akhundzada, 1502153059]","[Minecraft, Mojang, 479516143]","[YouTube: Watch, Listen, Stream, Google, 54400..."
2020-12-06,2,"[Among Us!, InnerSloth, 1351168404]","[Heads Up! Best Charades game, Warner Bros, 62...","[Tinder - Dating & Make Friends, Match Group, ..."
2020-12-06,3,"[YouTube: Watch, Listen, Stream, Google, 54400...","[Incredibox, So Far So Good, 1093131935]","[Roblox, Roblox, 431946152]"
2020-12-06,4,"[TikTok, TikTok Pte Ltd, 835599320]","[Plague Inc., Ndemic Creations, 525818839]","[Disney+, Disney, 1446075923]"
2020-12-06,5,"[Instagram, Instagram, 389801252]","[Monopoly, Marmalade, 1477966166]","[Candy Crush Saga, King, 553834731]"
...,...,...,...,...
2020-12-05,496,"[Toon Blast, Peak, 1176027022]","[Chess Tiger Pro, Christophe Théron, 423198259]","[Lightleap - Formerly Quickshot, Lightricks, 1..."
2020-12-05,497,"[Sky Roller - Fun runner game, Homa, 1478579926]","[DOOM, Bethesda, 336347946]","[Angry Birds Friends, Rovio, 555936735]"
2020-12-05,498,"[The NBC App – Stream TV Shows, NBC Universal,...","[Ultimate Cat Simulator, Gluten Free Games, 10...","[NBA: Live Games & Scores, NBA, 484672289]"
2020-12-05,499,"[Live Wallpaper Maker - Live4K, Ascella Mobile...","[Mini Metro, Playdigious, 837860959]","[5 Differences Online, Smart Project, 1444585201]"
2020-12-05,500,"[Bird - Be Free, Enjoy the Ride, Bird Rides, 1...","[AddOns Maker for Minecraft PE, PA Mobile Tech...","[Puzzles & Conquest, 37games, 1485209615]"

In [13]:
df_ios_new = sep3_dec1_t500_ios.reset_index()
df_android_new = sep3_dec1_t500_google_play.reset_index()
df_ios_new

,date,rank,free,paid,grossing
0,2020-12-06,1,"[Hype Simulator, Ulkar Akhundzada, 1502153059]","[Minecraft, Mojang, 479516143]","[YouTube: Watch, Listen, Stream, Google, 54400..."
1,2020-12-06,2,"[Among Us!, InnerSloth, 1351168404]","[Heads Up! Best Charades game, Warner Bros, 62...","[Tinder - Dating & Make Friends, Match Group, ..."
2,2020-12-06,3,"[YouTube: Watch, Listen, Stream, Google, 54400...","[Incredibox, So Far So Good, 1093131935]","[Roblox, Roblox, 431946152]"
3,2020-12-06,4,"[TikTok, TikTok Pte Ltd, 835599320]","[Plague Inc., Ndemic Creations, 525818839]","[Disney+, Disney, 1446075923]"
4,2020-12-06,5,"[Instagram, Instagram, 389801252]","[Monopoly, Marmalade, 1477966166]","[Candy Crush Saga, King, 553834731]"
...,...,...,...,...,...
995,2020-12-05,496,"[Toon Blast, Peak, 1176027022]","[Chess Tiger Pro, Christophe Théron, 423198259]","[Lightleap - Formerly Quickshot, Lightricks, 1..."
996,2020-12-05,497,"[Sky Roller - Fun runner game, Homa, 1478579926]","[DOOM, Bethesda, 336347946]","[Angry Birds Friends, Rovio, 555936735]"
997,2020-12-05,498,"[The NBC App – Stream TV Shows, NBC Universal,...","[Ultimate Cat Simulator, Gluten Free Games, 10...","[NBA: Live Games & Scores, NBA, 484672289]"
998,2020-12-05,499,"[Live Wallpaper Maker - Live4K, Ascella Mobile...","[Mini Metro, Playdigious, 837860959]","[5 Differences Online, Smart Project, 1444585201]"
999,2020-12-05,500,"[Bird - Be Free, Enjoy the Ride, Bird Rides, 1...","[AddOns Maker for Minecraft PE, PA Mobile Tech...","[Puzzles & Conquest, 37games, 1485209615]"

In [15]:
def check_publisher(element, element_list):
    if element not in element_list:
        element_list.append(element)
        
def check_app(element, cat, element_list, cat_list, lookup_table, pub_id_list, app_id_list):
    if element[0] not in element_list:
        element_list.append(element[0])
        cat_list.append(cat)
        app_id_list.append(element[2])
        pub_id_list.append(int(lookup_table[lookup_table['publisher_name'] == element[1]]['publisher_id']))

In [16]:
publisher_list = []

for index, row in df_ios_new.iterrows():
    check_publisher(row['free'][1], publisher_list)
    check_publisher(row['grossing'][1], publisher_list)
    check_publisher(row['paid'][1], publisher_list)
   
for index, row in df_android_new.iterrows():
    check_publisher(row['free'][1], publisher_list)
    check_publisher(row['grossing'][1], publisher_list)
    check_publisher(row['paid'][1], publisher_list)

In [17]:
publisher_id = np.arange(1, len(publisher_list)+1)

In [18]:
publisher_list

['Ulkar Akhundzada',
 'Google',
 'Mojang',
 'InnerSloth',
 'Match Group',
 'Warner Bros',
 'Roblox',
 'So Far So Good',
 'TikTok Pte Ltd',
 'Disney',
 'Ndemic Creations',
 'Instagram',
 'King',
 'Marmalade',
 'Facebook',
 'Pandora',
 'Ninja Kiwi',
 'Niantic',
 'Savage Interactive',
 'Snap',
 'Bumble',
 'RobTop',
 'Zoom Video Communications',
 'Warner Media',
 'Rockstar Games',
 'Voodoo',
 'Playrix',
 'Lightricks',
 'SayGames',
 'Hulu',
 'HotSchedules',
 'Amazon',
 'True Axis',
 'Twitch Interactive',
 'ADVA Soft',
 'Netflix',
 'Clickteam',
 'Square Inc',
 'Moon Active',
 '505 Games',
 'Peak',
 '2kit Consulting',
 'Spotify',
 'BIGO',
 'Terminal Eleven',
 'WhatsApp',
 'Supercell',
 'BANDAI NAMCO Entertainment',
 'Flipline',
 'Garena Online',
 '2K Games',
 'Twitter',
 'Starz Entertainment',
 'Seekrtech',
 'Activision Publishing',
 'Suture Sound Inc.',
 'Shopify',
 'Tencent',
 'Domus Technica',
 'DoorDash',
 'miHoYo',
 'Giants Software',
 'Target',
 'Playtika',
 'Walmart',
 'Tantsissa',
 'Bubblegum Games',
 'Chucklefish',
 'Exploding Kittens',
 'Discord',
 'KingsGroup',
 'Zynga',
 'PayPal',
 'Linkedin',
 'Apple',
 'Venmo',
 'Williams Interactive',
 'North Pole Command Centre Limited',
 'Roku',
 'Kwalee',
 'Playdemic',
 'Fifth Star',
 'Pinterest',
 'Plarium',
 'BoltCreative',
 'Double Down Interactive',
 'Ellation',
 'Jacquielawson',
 'Dropbox',
 'AirBeamTV',
 'EFUN',
 'Scopely',
 'Fat Cigar Productions',
 'Product Madness',
 'Cross Forward Consulting',
 'Small Giant Games',
 'Anton Lebed',
 'FTY',
 'Big Fish Games',
 'CubeMG',
 'ESPN',
 "McDonald's",
 'reddit',
 'Playtika Santa Monica',
 'Corsair Components, Inc.',
 'Shein',
 'IGG',
 'chris rogers',
 'Amanotes',
 'Lima Sky',
 'OfferUp',
 'Bole Games',
 'Zakeh',
 'Pacific-Interactive',
 "Raffaele D'Amato",
 'Uber Technologies',
 'Crowdstar',
 'Mango Labs',
 'Rarevision',
 'Works Inc',
 'IMVU',
 'Etermax',
 'Nexters',
 'Taco Bell',
 'Dual Decade',
 '44SEVEN MEDIA',
 'Sybo',
 'Firecraft Studios',
 'Tactile Games',
 'Hindsight',
 'NEOCORTEXT',
 'Huuuge Games',
 'Humble Bundle',
 'Yotta Games',
 'FiLMiC',
 'PeopleFun',
 'Electronic Arts',
 'ContextLogic',
 'eBay',
 'SoundCloud',
 'Toca Boca',
 'Nike',
 'Bennett Foddy',
 '欢 刘',
 'Kabam',
 'TonalEnergy',
 'Supersonic',
 'onXmaps',
 'USMGames',
 'Klarna',
 'Ifwe',
 'Sirius Technology',
 'IEC Games',
 'Tidal',
 'TimeBaseTech',
 'Lion Studios',
 'The Meet Group',
 'Aspyr',
 'Starbucks',
 'CloudMosa',
 'Ruby Game',
 'Top Games',
 'Good Job Games',
 'Lilith',
 'Matt Berg',
 'Popcore',
 'CBS Interactive',
 'Life on Air',
 'Weight Watchers',
 'Damien Elmes',
 'MoonBear',
 'MapMyFitness',
 'IEC',
 'Flipps',
 'PRMP DIGITAL LIMITED',
 'PicsArt',
 'X.D. Network',
 'iHeartMedia',
 'Steel Wool Games, Inc.',
 'Crazy Labs',
 '7th Beat Games',
 'Loop Games A.S',
 'Duolingo',
 'VitoTech',
 'Ring.com',
 'JindoBlu',
 'Enflick',
 'NAVER',
 'Image Line',
 'Audible',
 'Devolver Digital',
 'Etsy',
 'Tubi',
 'Reworks',
 'Ubisoft',
 'Fetch Rewards',
 'Coffee Stain',
 'PlayStudios',
 'SEGA',
 'Runtastic',
 'Topwar Studio',
 'Telegram',
 'Life360',
 'Infinity Pocket',
 'Zillow',
 'Readdle',
 'Yelp',
 'Leyi Network',
 'Kpaw',
 'Early Warning',
 'Miniclip',
 'Kentaro Yama',
 'DoubleU',
 'Elokence',
 'Episode Interactive',
 'Asmodee',
 'NaturalMotion',
 'Not Doppler',
 'Lyft',
 'Robot Gentleman',
 'Grubhub',
 'FunPlus',
 'Funimation',
 'Peacock TV',
 'Jason Loewy',
 'Robinhood',
 'Calm',
 'Moment Inc.',
 'BET Networks',
 'Rick Meyers',
 'Ace Games',
 'Glu',
 'Apalon',
 'Spike Chunsoft',
 'Mattel163',
 'Kasper Systems',
 'Bath & Body Works',
 'Vizor',
 'Pankaj Goswami Inc',
 'Microsoft',
 'Mageeks Apps & Games',
 'Camel Games',
 'Funn Media',
 'Twelve APP',
 'Incpt.Mobis',
 'Game Show Network',
 'Flying Development Studio',
 'Poshmark',
 'Com2uS',
 'Chick-fil-A',
 'TangoMe',
 'Monash University',
 'Gram Games',
 'Particle Media',
 'Long Tech Network',
 'FAYJU',
 'Musi',
 'Jam City',
 'Crunchy Bagel',
 'Tiya',
 'Supertreat',
 'Core Coders',
 'Epic Systems',
 'BPMobile',
 'MobiVio',
 'Waze',
 'Ten Square Games',
 'Shazam Entertainment',
 'Credit Karma',
 'Azur Interactive Games',
 'Sony',
 'Smule',
 'Cogitap',
 'in a nutshell - kurzgesagt GmbH',
 'Life.Church',
 'Codebrew Games',
 'Pixelberry',
 'Nexever Pty Ltd',
 "Domino's Pizza",
 'Zoosk',
 'Forks Over Knives',
 'Super Lucky Casino',
 'Peloton',
 'Grailr',
 'Unico Studio',
 'Mechanist',
 'Moonton',
 'Fonts LLC',
 'Bending Spoons',
 'JPMorgan Chase',
 'Anuken',
 'MM Apps',
 'Alexey Antropov',
 'Grindr',
 'Afterpay',
 'Storm8',
 'TuneIn',
 'Bennett Racing Simulations',
 'Dreame',
 'Samer Azzam',
 'Seriously Digital Entertainment',
 'LateNiteSoft',
 'Capital One',
 'Dragonplay',
 'Optime Software',
 'Netmarble',
 'Calculated',
 'Instacart',
 'Evil Studios Limited',
 '1Debit',
 'KS Mobile',
 'MikaMobile',
 'Big Run Studios',
 'ChineseAll',
 'Alexander Nowak',
 'Aniplex',
 'K Solution',
 'Rovio',
 'Luma Touch',
 'Wooga',
 'Pantaya',
 'Verizon Wireless',
 'Donut Games',
 'Matchingham Games',
 'Headspace',
 'Playdigious',
 'Eyewind',
 'Pixonic',
 'Bitstrips',
 'LiveATC',
 'Fitbit',
 'Jedasoft',
 'DAZN',
 'LW Brands',
 'Andreas Illiger',
 'Shutterfly',
 'Madness Limited',
 'Florian Schimanke',
 '37games',
 'IPACS',
 'Walgreens',
 'Canva',
 'interealtime',
 'MYTONA',
 'KONAMI',
 'Bank of America',
 'Chess.com',
 'ustwo',
 'Cricut',
 'Noctua',
 'Samsung Electronics',
 'Visual Supply',
 'KillHouse Games',
 'Mathway',
 'Quantum Four Inc',
 'ByteDance',
 'Samfinaco',
 'Joey Drew',
 'Best Buy',
 'Netzinkubator Software',
 "Wendy's",
 'TMSOFT',
 'Lowtech Studios',
 'Flo Health',
 'David Desrochers',
 'GingerLabs',
 'Nintendo',
 'FOCUS HOME INTERACTIVE',
 'Wildlife Studios',
 'Mercari',
 'Indeed.com',
 'TextMe',
 'Gameloft',
 'Rollic',
 'TelTech',
 'Daniel Gil',
 'Jadon Barnes',
 'Comcast',
 'Epic Action',
 'Playdots',
 'Murka',
 'Wolfram Alpha',
 'DataRiver',
 'DH Games',
 'Will Townsend',
 'Media Social',
 'GOAT',
 'Intuit',
 "Dunkin' Brands",
 'Ironhide',
 'TinyByte Apps',
 'Newell Media',
 'Atari',
 'FutureMind',
 'Yahoo!',
 'Seacloud',
 'Imangi',
 'Kayla Itsines',
 'TeamSpeak',
 'Clover Inc.',
 'Thi Thanh Binh',
 'Popshow',
 'My Town',
 'Nickelodeon',
 'Adobe',
 'SQUARE ENIX',
 'Bash Gaming',
 'Quadpay',
 'Microblink',
 'Oceanhouse Media',
 'KAYAC',
 'Autonoma',
 'Cocologics',
 'Rego apps',
 'Postmates',
 'Piksoft',
 'China Literature',
 'Flo Living',
 'Badoo',
 'GPSNavX',
 'Auxbrain',
 'Meitu',
 'Luis Medel',
 'Philo',
 'Clipwire',
 'Hoop Live s.r.o.',
 'PeakFinder',
 'Viki',
 'StockX',
 'Sportsman Tracker',
 'Dry Cactus',
 '玲玲 吴',
 'Avid.ly',
 'OCTech',
 'Word Game Studio',
 'Baron App',
 'CATEATER',
 'InShot Inc',
 'Instasize',
 'Side Labs LLC',
 'Wells Fargo',
 'VLMedia',
 'Allstays',
 'Innovative Developers',
 'Siqi Shen',
 'Showtime Networks',
 'Frosch',
 'Fox Sports',
 'Luni',
 'left brain right brain',
 'IntSig',
 'LiveBird',
 'Foot Locker',
 'Word Find',
 'Alibaba',
 'Team17',
 'Chegg',
 'Clafou Ltd',
 'Tefinkom & CO',
 'Candywriter',
 'Bowen Games',
 'Nelson Media',
 'Hewlett-Packard',
 'C & Z Tech',
 'Cascode',
 'Frontier Design',
 'Nekki',
 'Airbnb',
 'Ultimate Guitar',
 'Topanga Technologies',
 'AT&T',
 'Klei Entertainment',
 'Wayfair',
 'Special Gamez',
 'Marko Radakovic',
 'Hyperconnect',
 'Slots Limited',
 'LIME TURTLE',
 'Kohl’s',
 'Age of Learning',
 'Owen Stanley',
 'Melesta',
 'Workman Consulting',
 'Pinger',
 'Dow Jones',
 'MarineTraffic',
 'Macys',
 'Avcr',
 'Hily',
 'Igor Borisov',
 'Fireproof Games',
 'Candy Rufus',
 'CyberGhost',
 'Yoteware, LLC',
 'Dollar General',
 'Kidapp.ru',
 'Jelly Button',
 'Feral Interactive',
 'Babbel',
 'CHG Developments',
 'T-Mobile US',
 'BetterMe',
 'Gamesoul Studio',
 'Finish Line',
 'Pocket Gems',
 'wenpeng zeng',
 'X-Flow',
 'Nextdoor',
 'RORTOS',
 'Playgendary',
 'Ilyon Dynamics',
 'Reliance Big Entertainment',
 'Volcano Force',
 'Deftun',
 'Andreas Kambanis',
 'The Cowboy Channel LLC',
 'Pizza Hut',
 'NY Times',
 'URBAN EDGE DESIGN STUDIO, L. L. C',
 'Ancestry.com',
 'Nanobit',
 'Social Point',
 'Crossfire Designs',
 'Audiomack',
 'Epic War',
 'Elf on the Shelf',
 'Madbox',
 'Cultured Code',
 'InnoGames',
 'Greenheart Games',
 'Wattpad',
 'Nexvio',
 'Dianjinshi Information Technology Co., Ltd',
 'Fengniao Yufei',
 'Technimo',
 'Contents First',
 'Giant Network',
 'nWay',
 'Skype',
 'Snowman',
 'PhotoPills',
 'BigWinePot',
 'ME2ZEN',
 'Base Velocity',
 'Co-Star Astrology Society',
 '89Trillion',
 'ForceReadiness.com',
 'ULTA',
 'HamiltonsApps',
 'Step Mobile',
 'YouNow',
 '8SEC',
 'Yalla',
 'Astragon',
 'Jundroo',
 'The Home Depot',
 'Lockwood Publishing',
 'Joypac',
 'Free photo video editor and picture movie editing',
 'Raw Fury',
 'Comunix',
 'Standard Media',
 'Cartoon Network',
 'GoodNovel',
 'iParty',
 'GameChanger Media',
 'NetEase',
 'Dil Mil',
 'Hitcents',
 'Ibotta',
 'mixtvision digital',
 'OBRIO LIMITED',
 'MLB Advanced Media',
 'Trail of Bits',
 'TapMediaLTD',
 'Epic Creations',
 'INKHUNTER',
 'AnchorFree',
 'Gammon Applications',
 "Lowe's",
 'Prequel',
 'JoyBits',
 'Rakuten Ebates',
 'Glority',
 'Simulation Curriculum',
 'Sunday.gg',
 'Express VPN',
 'ASCCP',
 'Radish',
 'Eden Software Limited',
 'DVloper',
 'Avid Life Media',
 'Abylight',
 'Paper Boat',
 'Mobile Jump',
 'Bazaart',
 'Aviagames',
 'Skout',
 'David Wehle',
 'Kaigan Games OÜ',
 'TV Cast',
 'Beach Bum',
 'Entertainment One',
 'HeadUpGames',
 'Elex Technology',
 'Coolors',
 'Kahoot!',
 'Zenjoy',
 'BROKEN RULES',
 'DeusCraft',
 'Creste',
 'OneSoft',
 'RMR Labz',
 'Treastone',
 'LOOP LEAD CONSULTING PC',
 'Glitche',
 'IKEA',
 'Strava',
 'Digital Dowsing',
 'SIRIUS XM Radio',
 'The Weather Company',
 'Cross Utility Ltd',
 'FaceApp',
 'Lukasz Jakowski',
 'Real Estate Portal USA',
 'EasyTech',
 'Popeyes Louisiana Kitchen',
 'KamaGames',
 'XtraMath',
 'Dynamic Slash LLC',
 'Plug In Digital',
 'Charter Communications',
 'Wzp Solutions',
 'Halfbrick',
 'BURGER KING',
 'Xiaoyi',
 'Kik',
 'PurpleKiwii',
 'Groupon',
 'A.L. Amazing',
 'EVOLLY',
 'Playdead',
 'Mobee',
 'Emergent Studios',
 'RedBull',
 'Affirm',
 'Ludia',
 'Maxim Gapchenko',
 'craigslist.org',
 'Yso',
 'Primate Labs',
 'UGroupMedia',
 'Symantec',
 'Ringtones Ltd',
 'Sesame Workshop',
 'Lucky Kat Studios',
 'TinyLab',
 'Snoozle Limited',
 'DuckDuckGo',
 'Brownmonster',
 'Little Caesars',
 'CAPCOM',
 'Antares Audio Technology',
 'TapNice',
 'Elevate Labs',
 'N3TWORK',
 'JoyTunes',
 'Bossa',
 'Costco Wholesale',
 'Tap4Fun',
 'Tatem',
 'Chewy',
 'Cardinal Blue',
 'Bagelcode',
 'Matis',
 'Chipotle Mexican Grill',
 'MZ',
 'Informed Publishing',
 'CyberStep',
 'Nynix',
 'Elestorm Game',
 'ActiveNetwork',
 'KeepSafe',
 'Newsmax Media',
 'Bethesda',
 'Almus',
 '11 bit studios',
 'YOOZOO Games',
 'Brian Rabe',
 'Magisto',
 'Last Day of Work',
 'Experian',
 'Abundant Health',
 'Betternet',
 'Techet',
 'Kefir',
 'DMorneault',
 'BandLab',
 'Habby',
 'musictheory',
 'ADP LLC',
 'FitNow',
 'MoFunZone',
 'Coinbase',
 'Yew Technology',
 'HandyGames',
 'Ad Hoc Labs',
 'LaCuerda',
 'Ascella Mobile',
 'Dan Russell-Pinson',
 'Teach Monster Games',
 'Ruby Labs',
 'Tinrocket',
 'CVS Pharmacy',
 'Grammarly',
 'Aerfish',
 'MediaVibe',
 'Squeakosaurus',
 'Rosetta Stone',
 'Appxy',
 'Route App',
 'Slothwerks',
 'Gap',
 'PocketzWorld',
 'Nathaniel Eliason',
 'Performix',
 'MarkApp',
 'Wynn Social',
 'Filterra',
 'Epocrates',
 'Guglielmo Faglioni',
 'MODUL',
 'LisbonLabs',
 'Color Switch',
 'Wargaming.net',
 'BlackjackApprenticeship.com',
 'PixelGun Company',
 'Subway',
 'Juxta',
 'Jagex Games',
 'Kristian Stensoenes',
 'VeinSeek',
 'GoodRx',
 'Univision Communications Inc',
 'iRobot Corporation',
 'KLab',
 'Code Organa',
 'Fashion Nova',
 'D3Publisher',
 'Crazy4Profession',
 'Jeffrey Kuiken',
 'Badfish Labs',
 'Smilegate Megaport',
 'Bickster Studios',
 'DeNA',
 'Sleep Baby - Music For Sleep',
 'Lyam Brothers',
 'HappyCow',
 'Good Smile Company',
 'Lucas Yamashita',
 'BitMango',
 'Pluto.tv',
 'Boke',
 'ForTheLoss',
 'Depop',
 'Modo',
 'ramii Moghrabi',
 'Social Impact',
 'Zardoz',
 'Panteon',
 'Redemption Games',
 'Mediocre',
 'Luka',
 'Scribd',
 'Propel',
 'Tapas',
 'Sporcle',
 'Honey Science',
 'Tue Nguyen Minh',
 'Marek Bereza',
 'Playsoft',
 'eHarmony',
 'iPoseidon',
 'Hawk iMedia',
 'sp0n',
 'PlayQ',
 'e-Courier',
 'Cybernate',
 'FishBrain',
 'Pratik Parekh',
 'Zedge',
 'Sonico',
 'AstroGraph Software',
 'Pham Hang',
 'Atom Applications',
 'Civi Corp',
 'Hipster Whale',
 'Cupid PLC',
 'Blizzard Entertainment',
 'ivan colasanti',
 'Immedia Semiconductor',
 'Fusebox',
 'VC Technology',
 'TapNation',
 'Riley Cillian',
 'Lehuo',
 'Easy Tiger',
 'vishnu rao',
 'Magic Notion',
 'Monkey Taps',
 'Marmelapp',
 'Wired Betterment',
 "Victoria's Secret",
 'AppHeroes',
 'Rayark',
 'SideChef Group Limited',
 'Fitbod',
 'ibis',
 'Archosaur Games',
 'Limmer',
 'Feit Electric',
 'High5Games',
 'Sydvesti Oy',
 'Kooapps',
 'ozPDA',
 'Lunime',
 'Callpod',
 'Jonathan Howell',
 'WGT',
 'iUniform',
 'Peter Moeykens',
 'Sonos',
 'Adviqo Technology',
 'GEICO',
 'Flysher',
 'FullyRaw',
 'Hummingbird Games',
 'Discover Financial Services',
 'Blue Water Bay',
 'Casetagram',
 'Nordcurrent',
 'Rainfrog, LLC',
 'UNIVERSAL REMOTE LABS',
 'Cole Herrmann',
 'Games Cafe',
 'Belk',
 'KumuMedia',
 'Frogmind',
 'Jump Ramp',
 'Sarah Northway',
 'Screenzilla',
 'cheyoujia',
 'Outfit7',
 'Alexey Bogdanov',
 'Bret Hardman',
 'DIGITAL MINDS MARKETING SL',
 'Mapgears',
 'LiftApp',
 'Novamanga Technology Co.,Limited',
 'Chris J Ward',
 'NEXON',
 'Axiem',
 'Stars Mobile',
 'Invoice2go',
 'Steve Kuo',
 'UPS',
 'Washington Post',
 'Open Planet Software',
 '煌 张',
 'Firelit Studios',
 'Blowfire',
 'Llmfinity',
 'DWANGO',
 'Mood Meter',
 'Brainly',
 'GoPro',
 'Aviation Supplies Academics',
 'First Class Media',
 'KK Keyboard Studio',
 'Merkury Innovations',
 'Over',
 'Word Puzzle Games',
 'LearnWithHomer',
 'Mega Limited',
 'Funnii',
 'Perry Street',
 'Green Panda',
 'Chuang Cool',
 'Setona LLC',
 'Amirali Rajan',
 'Planet Fitness',
 'Coffee Meets Bagel',
 'FDG Entertainment',
 'Parler',
 'Trucker Path',
 'Booking.com',
 'Defiant Development',
 'Suji Games',
 'Pray',
 'Serendi LTD',
 'Stash Invest',
 'Sulake',
 'Colin Sapp',
 'Quotient Technology',
 'Bytro Labs',
 'Champions School of Real Estate',
 'Kraftwerk 9',
 'Josef Moser',
 'LG Electronics',
 'Journey Bound Games Inc.',
 'Oasis Games',
 'Michael Eskin',
 'Thinklean',
 'Martin Man',
 'Breethe',
 'StarMaker',
 'Men Who Wear Many Hats',
 'MICO',
 'Lingokids',
 'Panda Apps Limited',
 'Finco Services',
 'Loup Pty Ltd',
 'tarun kurapati',
 'Swing by Swing Golf',
 'Prisma labs',
 'Acid Remap',
 'HomeAway',
 'James M Kempema MD PA',
 'Star India',
 'Griffin Ledingham',
 'GoPuff',
 'Ovelin',
 'NATURE INTERNATIONAL TRADING',
 'Nest Labs',
 'Class Twist',
 'Voice Dream',
 'Geisha Tokyo',
 'Max Shaw',
 'Metamoki',
 'ZHANGYUE',
 'Blue Brain Games',
 'PONOS',
 'Cepher',
 'Kroger',
 'Liber Group',
 'Tether',
 'ACME AtronOmatic',
 'Media Mushroom',
 'Care.com',
 'Christophe Théron',
 'Invoice Simple',
 'Annapurna',
 'Ivan De Cabo',
 'Wombat Apps',
 'Gluten Free Games',
 'United Airlines',
 'Onemt',
 'Small Beautiful',
 'Limbua',
 'Joya Communications',
 'Stephan Gauch',
 'Vince Internet Company Enterprises LLC',
 'Luminous Labs',
 'Viber Media',
 "D'Adamo Personalized Nutrition",
 'H&M',
 'Premiere Radio Networks',
 'Ray Bernardo',
 'SNK',
 'Duo Security',
 'Blinks',
 'Hibbett Sports',
 '111%',
 'Ogtus',
 'Mobile Deluxe',
 'Baby Shusher',
 'Day Development',
 'Babil Games',
 "Papa John's",
 'RT Sixty Ltd',
 'iInnovate',
 'Youda',
 'EtherGaming',
 'Noah Gilmore',
 'Game Focus Network',
 'Atypical Games',
 'SkyGazer',
 'Roni Music',
 'BeFunky',
 'FatChicken',
 'Udemy',
 'Francisco Alcala',
 'Triwin Games',
 'MindWareToys',
 'A Thinking Ape',
 'Young Horses',
 'Gameberry',
 'MDickie',
 'PlaySimple',
 'SMART LIMITED',
 ...]

In [19]:
df_publisher = pd.DataFrame(zip(publisher_id, publisher_list), columns=['publisher_id','publisher_name'])
df_publisher

      publisher_id      publisher_name
0                1    Ulkar Akhundzada
1                2              Google
2                3              Mojang
3                4          InnerSloth
4                5         Match Group
...            ...                 ...
1229          1230   Schtruck & LDchen
1230          1231   Kotobuki Solution
1231          1232    Dynamix Software
1232          1233   BestRingtonesApps
1233          1234  State of Minnesota

[1234 rows x 2 columns]

In [20]:
app_list = []
cat_list = []
pub_id = []
app_id = []

for index, row in df_ios_new.iterrows():
    # If the app is not in the list yet, insert it into the list and insert the category on the cat_list: 1(Free), 2(Grossing), 3(Paid)
    check_app(row['free'], 1, app_list, cat_list, df_publisher, pub_id, app_id)
    check_app(row['grossing'], 2, app_list, cat_list, df_publisher, pub_id, app_id)
    check_app(row['paid'], 3, app_list, cat_list, df_publisher, pub_id, app_id)
    
for index, row in df_android_new.iterrows():
    # If the app is not in the list yet, insert it into the list and insert the category on the cat_list: 1(Free), 2(Grossing), 3(Paid)
    check_app(row['free'], 1, app_list, cat_list, df_publisher, pub_id, app_id)
    check_app(row['grossing'], 2, app_list, cat_list, df_publisher, pub_id, app_id)
    check_app(row['paid'], 3, app_list, cat_list, df_publisher, pub_id, app_id)

In [21]:
df_app = pd.DataFrame(zip(app_id, app_list, cat_list, pub_id), columns=['app_id','app_name','category','publisher_id'])
df_app

              app_id                          app_name  category  publisher_id
0         1502153059                    Hype Simulator         1             1
1          544007664    YouTube: Watch, Listen, Stream         2             2
2          479516143                         Minecraft         3             3
3         1351168404                         Among Us!         1             4
4          547702041    Tinder - Dating & Make Friends         2             5
...              ...                               ...       ...           ...
2018  20600000284705                      Couch to 5K®         3           682
2019  20600008489765  Chief Almighty: First Thunder BC         2           134
2020  20600001662882       Free Ringtones for Android™         1          1233
2021  20600003985140                        Mood Meter         3           874
2022  20600014267693                     COVIDaware MN         1          1234

[2023 rows x 4 columns]

In [22]:
df_free_ios = pd.DataFrame(df_ios_new['free'].to_list(), columns = ['app_name', 'publisher', 'app_id'])
df_free_cleaned_ios = df_ios_new[['date','rank']].merge(df_free_ios[['app_id']], left_index = True, right_index = True)
df_free_cleaned_ios['category'] = 1
df_free_cleaned_ios

           date rank      app_id  category
0    2020-12-06    1  1502153059         1
1    2020-12-06    2  1351168404         1
2    2020-12-06    3   544007664         1
3    2020-12-06    4   835599320         1
4    2020-12-06    5   389801252         1
..          ...  ...         ...       ...
995  2020-12-05  496  1176027022         1
996  2020-12-05  497  1478579926         1
997  2020-12-05  498   442839435         1
998  2020-12-05  499  1039845801         1
999  2020-12-05  500  1260842311         1

[1000 rows x 4 columns]

In [23]:
df_free_android = pd.DataFrame(df_android_new['free'].to_list(), columns = ['app_name', 'publisher', 'app_id'])
df_free_cleaned_android = df_android_new[['date','rank']].merge(df_free_android[['app_id']], left_index = True, right_index = True)
df_free_cleaned_android['category'] = 1
df_free_cleaned_android

           date rank          app_id  category
0    2020-12-06    1  20600010026980         1
1    2020-12-06    2  20600000722620         1
2    2020-12-06    3  20600008220049         1
3    2020-12-06    4  20600012384481         1
4    2020-12-06    5  20600014163885         1
..          ...  ...             ...       ...
895  2020-12-04  296  20600006226500         1
896  2020-12-04  297  20600008085069         1
897  2020-12-04  298  20600011571064         1
898  2020-12-04  299  20600001662882         1
899  2020-12-04  300  20600014267693         1

[900 rows x 4 columns]

In [24]:
df_paid_ios = pd.DataFrame(df_ios_new['paid'].to_list(), columns = ['app_name', 'publisher', 'app_id'])
df_paid_cleaned_ios = df_ios_new[['date','rank']].merge(df_paid_ios[['app_id']], left_index = True, right_index = True)
df_paid_cleaned_ios['category'] = 3
df_paid_cleaned_ios

           date rank      app_id  category
0    2020-12-06    1   479516143         3
1    2020-12-06    2   623592465         3
2    2020-12-06    3  1093131935         3
3    2020-12-06    4   525818839         3
4    2020-12-06    5  1477966166         3
..          ...  ...         ...       ...
995  2020-12-05  496   423198259         3
996  2020-12-05  497   336347946         3
997  2020-12-05  498  1063194374         3
998  2020-12-05  499   837860959         3
999  2020-12-05  500  1208925143         3

[1000 rows x 4 columns]

In [25]:
df_paid_android = pd.DataFrame(df_android_new['paid'].to_list(), columns = ['app_name', 'publisher', 'app_id'])
df_paid_cleaned_android = df_android_new[['date','rank']].merge(df_paid_android[['app_id']], left_index = True, right_index = True)
df_paid_cleaned_android['category'] = 3
df_paid_cleaned_android

           date rank          app_id  category
0    2020-12-06    1  20600000000768         3
1    2020-12-06    2  20600012452870         3
2    2020-12-06    3  20600009916650         3
3    2020-12-06    4  20600013538453         3
4    2020-12-06    5  20600011381958         3
..          ...  ...             ...       ...
895  2020-12-04  296  20600013646404         3
896  2020-12-04  297  20600000284705         3
897  2020-12-04  298  20600000002416         3
898  2020-12-04  299  20600003985140         3
899  2020-12-04  300  20600008695592         3

[900 rows x 4 columns]

In [26]:
df_grossing_ios = pd.DataFrame(df_ios_new['grossing'].to_list(), columns = ['app_name', 'publisher', 'app_id'])
df_grossing_cleaned_ios = df_ios_new[['date','rank']].merge(df_grossing_ios[['app_id']], left_index = True, right_index = True)
df_grossing_cleaned_ios['category'] = 2
df_grossing_cleaned_ios

           date rank      app_id  category
0    2020-12-06    1   544007664         2
1    2020-12-06    2   547702041         2
2    2020-12-06    3   431946152         2
3    2020-12-06    4  1446075923         2
4    2020-12-06    5   553834731         2
..          ...  ...         ...       ...
995  2020-12-05  496  1254875992         2
996  2020-12-05  497   555936735         2
997  2020-12-05  498   484672289         2
998  2020-12-05  499  1444585201         2
999  2020-12-05  500  1485209615         2

[1000 rows x 4 columns]

In [27]:
df_grossing_android = pd.DataFrame(df_android_new['grossing'].to_list(), columns = ['app_name', 'publisher', 'app_id'])
df_grossing_cleaned_android = df_android_new[['date','rank']].merge(df_grossing_android[['app_id']], left_index = True, right_index = True)
df_grossing_cleaned_android['category'] = 2
df_grossing_cleaned_android

           date rank          app_id  category
0    2020-12-06    1  20600005233076         2
1    2020-12-06    2  20600005891187         2
2    2020-12-06    3  20600013866017         2
3    2020-12-06    4  20600009883514         2
4    2020-12-06    5  20600012384481         2
..          ...  ...             ...       ...
895  2020-12-04  296  20600010553776         2
896  2020-12-04  297  20600005449011         2
897  2020-12-04  298  20600008489765         2
898  2020-12-04  299  20600008473675         2
899  2020-12-04  300  20600005535522         2

[900 rows x 4 columns]

In [28]:
df_full_ios = df_free_cleaned_ios.append(df_grossing_cleaned_ios, ignore_index=True)
df_full_ios = df_full_ios.append(df_paid_cleaned_ios, ignore_index=True)
df_full_ios['platform_id'] = 1
df_full_ios

            date rank      app_id  category  platform_id
0     2020-12-06    1  1502153059         1            1
1     2020-12-06    2  1351168404         1            1
2     2020-12-06    3   544007664         1            1
3     2020-12-06    4   835599320         1            1
4     2020-12-06    5   389801252         1            1
...          ...  ...         ...       ...          ...
2995  2020-12-05  496   423198259         3            1
2996  2020-12-05  497   336347946         3            1
2997  2020-12-05  498  1063194374         3            1
2998  2020-12-05  499   837860959         3            1
2999  2020-12-05  500  1208925143         3            1

[3000 rows x 5 columns]

In [29]:
df_full_android = df_free_cleaned_android.append(df_grossing_cleaned_android, ignore_index=True)
df_full_android = df_full_android.append(df_paid_cleaned_android, ignore_index=True)
df_full_android['platform_id'] = 2
df_full_android

            date rank          app_id  category  platform_id
0     2020-12-06    1  20600010026980         1            2
1     2020-12-06    2  20600000722620         1            2
2     2020-12-06    3  20600008220049         1            2
3     2020-12-06    4  20600012384481         1            2
4     2020-12-06    5  20600014163885         1            2
...          ...  ...             ...       ...          ...
2695  2020-12-04  296  20600013646404         3            2
2696  2020-12-04  297  20600000284705         3            2
2697  2020-12-04  298  20600000002416         3            2
2698  2020-12-04  299  20600003985140         3            2
2699  2020-12-04  300  20600008695592         3            2

[2700 rows x 5 columns]

In [30]:
df_full = df_full_ios.append(df_full_android, ignore_index = True)
df_full

            date rank          app_id  category  platform_id
0     2020-12-06    1      1502153059         1            1
1     2020-12-06    2      1351168404         1            1
2     2020-12-06    3       544007664         1            1
3     2020-12-06    4       835599320         1            1
4     2020-12-06    5       389801252         1            1
...          ...  ...             ...       ...          ...
5695  2020-12-04  296  20600013646404         3            2
5696  2020-12-04  297  20600000284705         3            2
5697  2020-12-04  298  20600000002416         3            2
5698  2020-12-04  299  20600003985140         3            2
5699  2020-12-04  300  20600008695592         3            2

[5700 rows x 5 columns]

In [31]:
platform_dict = {'platform_id':[1,2], 'platform':['iOS','Android']}
df_platform = pd.DataFrame(data = platform_dict)
df_platform

   platform_id platform
0            1      iOS
1            2  Android

In [32]:
cat_dict = {'category_id':[1,2,3],'category':['Free','Grossing','Paid']}
df_cat = pd.DataFrame(data=cat_dict)
df_cat

   category_id  category
0            1      Free
1            2  Grossing
2            3      Paid

In [94]:
# db_pass = 'postgres'
# #establishing the connection
# conn = psycopg2.connect(
#    database="postgres", user='postgres', password=db_pass, host='127.0.0.1', port= '5432'
# )
# conn.autocommit = True
# #Creating a cursor object using the cursor() method
# cursor = conn.cursor()
# #Preparing query to create a database
# sql = '''
#     DROP DATABASE IF EXISTS app_rankings
#     CREATE DATABASE app_rankings''';
# #Creating a database
# cursor.execute(sql)
# print("Database created successfully........")
# #Closing the connection
# conn.close()

ObjectInUse: database "app_rankings" is being accessed by other users
DETAIL:  There is 1 other session using the database.

In [5]:
conn.close()

NameError: name 'conn' is not defined

In [37]:
# SHOULD MAKE db_pass an environment variable in final version

db_pass = 'postgres'
engine = create_engine(f'postgresql://postgres:{db_pass}@localhost:5432/app_rankings')

if sqlalchemy_utils.functions.database_exists(engine.url):
    print(sqlalchemy_utils.functions.database_exists(engine.url))
    pass
else:
    sqlalchemy_utils.functions.create_database(engine.url)

True

In [36]:
engine

Engine(postgresql://postgres:***@localhost:5432/app_rankings)

In [38]:
# final code should append existing tables, not replace them

df_platform.to_sql('platform',engine, if_exists='replace', index=False)
df_full.to_sql('ranking',engine, if_exists='replace', index=False)
df_publisher.to_sql('publisher',engine, if_exists='replace', index=False)
df_app.to_sql('application', engine, if_exists='replace', index=False)
df_cat.to_sql('category', engine, if_exists='replace', index=False)

In [39]:
# Sets primary and foreign keys for SQL tables

# Sets primary key for platform table
engine.execute("""
    ALTER TABLE
        platform
    ADD PRIMARY KEY 
        (platform_id);
""")